In [3]:
import psycopg2
import pandas as pd

# –£—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö
connection = psycopg2.connect(
    dbname='project_sql',
    user='skillfactory',
    password='cCkxxLVrDE8EbvjueeMedPKt',
    host='84.201.134.129',
    port=5432
)

# –ü–∞—Ä–∞–º–µ—Ç—Ä –¥–ª—è –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∑–∞–ø–∏—Å–µ–π
n = 10

# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –≤—ã–±–æ—Ä–∫–∏ –¥–∞–Ω–Ω—ã—Ö:
# –ò–∑ —Ç–∞–±–ª–∏—Ü—ã public.vacancies –≤—ã–±–∏—Ä–∞–µ–º –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã
# –û–≥—Ä–∞–Ω–∏—á–∏–≤–∞–µ–º –≤—ã–±–æ—Ä–∫—É —É–∫–∞–∑–∞–Ω–Ω—ã–º —á–∏—Å–ª–æ–º –∑–∞–ø–∏—Å–µ–π (LIMIT n)
query = f"""
    SELECT *
    FROM public.vacancies
    LIMIT {n}
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\1799951673.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

,id,name,key_skills,schedule,experience,employment,salary_from,salary_to,area_id,employer_id
0,55312386,–ö–æ–º–ø—å—é—Ç–µ—Ä–Ω—ã–π –ú–∞—Å—Ç–µ—Ä,–ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –ü–ö\t–†–∞–±–æ—Ç–∞ –≤ –∫–æ–º–∞–Ω–¥–µ\t–†–µ–º–æ–Ω—Ç –Ω–æ—É—Ç...,–ü–æ–ª–Ω—ã–π –¥–µ–Ω—å,–ù–µ—Ç –æ–ø—ã—Ç–∞,–ü–æ–ª–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å,64000.0,NaN,1516,5724811
1,55843014,–°–∏—Å—Ç–µ–º–Ω—ã–π –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä,–°—Ä–µ–¥—Å—Ç–≤–∞ –∫—Ä–∏–ø—Ç–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–π –∑–∞—â–∏—Ç—ã –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏\t...,–ü–æ–ª–Ω—ã–π –¥–µ–Ω—å,–û—Ç 3 –¥–æ 6 –ª–µ—Ç,–ü–æ–ª–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å,NaN,NaN,130,4903713
2,54525964,Lead Java Developer to Poland,Spring Framework\tSQL\tHibernate ORM\tJava\tGit,–£–¥–∞–ª–µ–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞,–û—Ç 3 –¥–æ 6 –ª–µ—Ç,–ü–æ–ª–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å,NaN,NaN,160,69961
3,54525965,Lead Java Developer to Poland,Spring Framework\tSQL\tHibernate ORM\tJava\tGit,–£–¥–∞–ª–µ–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞,–û—Ç 3 –¥–æ 6 –ª–µ—Ç,–ü–æ–ª–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å,NaN,NaN,159,69961
4,55354053,–°–ø–µ—Ü–∏–∞–ª–∏—Å—Ç —Å–ª—É–∂–±—ã –ø–æ–¥–¥–µ—Ä–∂–∫–∏ —Å —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–∏–º–∏ –∑–Ω–∞...,None,–£–¥–∞–ª–µ–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞,–ù–µ—Ç –æ–ø—ã—Ç–∞,–ß–∞—Å—Ç–∏—á–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å,15000.0,NaN,1955,1740
5,55906072,–ö–æ—Ä—Ä–µ–∫—Ç–æ—Ä,–ö–æ—Ä—Ä–µ–∫—Ç—É—Ä–∞ —Ç–µ–∫—Å—Ç–æ–≤\t–ì—Ä–∞–º–æ—Ç–Ω–æ—Å—Ç—å\t–†–∞–±–æ—Ç–∞ –≤ –∫–æ–º–∞...,–ü–æ–ª–Ω—ã–π –¥–µ–Ω—å,–ù–µ—Ç –æ–ø—ã—Ç–∞,–ü–æ–ª–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å,NaN,NaN,2323,584934
6,55523207,React Front-end Middle Developer,JavaScript\tTypeScript\tCSS3\tNode.js\tHTML5,–ì–∏–±–∫–∏–π –≥—Ä–∞—Ñ–∏–∫,–û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç,–ü–æ–ª–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å,NaN,NaN,2759,204511
7,55050261,–ò–Ω–∂–µ–Ω–µ—Ä-–ø—Ä–æ–≥—Ä–∞–º–º–∏—Å—Ç,Java SE\tSpring Framework\tSpring Boot\tGit\tS...,–ü–æ–ª–Ω—ã–π –¥–µ–Ω—å,–ù–µ—Ç –æ–ø—ã—Ç–∞,–ü–æ–ª–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å,40000.0,60000.0,49,4448636
8,55583432,–°–∏—Å—Ç–µ–º–Ω—ã–π –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–æ—Ä,Linux\t–ê–¥–º–∏–Ω–∏—Å—Ç—Ä–∏—Ä–æ–≤–∞–Ω–∏–µ —Å–µ—Ç–µ–≤–æ–≥–æ –æ–±–æ—Ä—É–¥–æ–≤–∞–Ω–∏—è...,–ü–æ–ª–Ω—ã–π –¥–µ–Ω—å,–û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç,–ü–æ–ª–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å,50000.0,NaN,3,55126
9,55312414,–í–µ–¥—É—â–∏–π —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç –≥—Ä—É–ø–ø—ã —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏ —Å–∏—Å—Ç–µ–º,1–° –ø—Ä–æ–≥—Ä–∞–º–º–∏—Ä–æ–≤–∞–Ω–∏–µ\t1–°: –ü—Ä–µ–¥–ø—Ä–∏—è—Ç–∏–µ 8\t1–°: –î–æ...,–ü–æ–ª–Ω—ã–π –¥–µ–Ω—å,–û—Ç 3 –¥–æ 6 –ª–µ—Ç,–ü–æ–ª–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å,NaN,NaN,47,1413754

In [4]:
import psycopg2
import pandas as pd

# –£—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö
connection = psycopg2.connect(
    dbname='project_sql',
    user='skillfactory',
    password='cCkxxLVrDE8EbvjueeMedPKt',
    host='84.201.134.129',
    port=5432
)

# –ü–∞—Ä–∞–º–µ—Ç—Ä –¥–ª—è –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∑–∞–ø–∏—Å–µ–π
n = 10

# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –≤—ã–±–æ—Ä–∫–∏ –¥–∞–Ω–Ω—ã—Ö:
# –ò–∑ —Ç–∞–±–ª–∏—Ü—ã public.areas –≤—ã–±–∏—Ä–∞–µ–º –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã
# –û–≥—Ä–∞–Ω–∏—á–∏–≤–∞–µ–º –≤—ã–±–æ—Ä–∫—É —É–∫–∞–∑–∞–Ω–Ω—ã–º —á–∏—Å–ª–æ–º –∑–∞–ø–∏—Å–µ–π (LIMIT n)
query = f"""
    SELECT *
    FROM public.areas
    LIMIT {n}
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\799055341.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

     id                           name
0  2758                        –¢–±–∏–ª–∏—Å–∏
1     8                         –ú–∞–π–∫–æ–ø
2  1180                       –ù–µ—Ä—é–Ω–≥—Ä–∏
3  1240                    –ù–æ–≤–æ–∫—É–∑–Ω–µ—Ü–∫
4     2                –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥
5     1                         –ú–æ—Å–∫–≤–∞
6  2061  –ü–æ–¥–æ–ª—å—Å–∫ (–ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å)
7  1545                   –ù–æ–≤–æ—á–µ—Ä–∫–∞—Å—Å–∫
8  2759                        –¢–∞—à–∫–µ–Ω—Ç
9  3695                   –ü—Ä–æ–º—ã—à–ª–µ–Ω–Ω–∞—è

In [5]:
import psycopg2
import pandas as pd

# –£—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö
connection = psycopg2.connect(
    dbname='project_sql',
    user='skillfactory',
    password='cCkxxLVrDE8EbvjueeMedPKt',
    host='84.201.134.129',
    port=5432
)

# –ü–∞—Ä–∞–º–µ—Ç—Ä –¥–ª—è –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∑–∞–ø–∏—Å–µ–π
n = 10

# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –≤—ã–±–æ—Ä–∫–∏ –¥–∞–Ω–Ω—ã—Ö:
# –ò–∑ —Ç–∞–±–ª–∏—Ü—ã public.employers –≤—ã–±–∏—Ä–∞–µ–º –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã
# –û–≥—Ä–∞–Ω–∏—á–∏–≤–∞–µ–º –≤—ã–±–æ—Ä–∫—É —É–∫–∞–∑–∞–Ω–Ω—ã–º —á–∏—Å–ª–æ–º –∑–∞–ø–∏—Å–µ–π (LIMIT n)
query = f"""
    SELECT *
    FROM public.employers
    LIMIT {n}
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\1337400288.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

        id                                               name  area
0     2393                   –ü—Ä–æ–≥—Ä–∞–º–º–Ω—ã–π –ü—Ä–æ–¥—É–∫—Ç, –ò–¢-–∫–æ–º–ø–∞–Ω–∏—è     1
1    72977                                          –ë–ê–†–° –ì—Ä—É–ø    88
2     3155  –ë–µ—Å—Ç, –¢–æ—Ä–≥–æ–≤–æ-–ø—Ä–æ–∏–∑–≤–æ–¥—Å—Ç–≤–µ–Ω–Ω–∞—è –∫–æ–º–ø–∞–Ω–∏—è, –ï–∫–∞—Ç–µ...     3
3      675                                   –ö–û–†–£–° –ö–æ–Ω—Å–∞–ª—Ç–∏–Ω–≥     2
4  1840010  —Ñ–∏–ª–∏–∞–ª –§–ö–£ –ù–∞–ª–æ–≥-–°–µ—Ä–≤–∏—Å –§–ù–° –†–æ—Å—Å–∏–∏ –≤ –†–µ—Å–ø—É–±–ª–∏–∫...    88
5   213397                                            –ú–æ–π–û—Ñ–∏—Å     1
6    41862                                             –ö–æ–Ω—Ç—É—Ä     3
7  1080425  –ß–µ–ª—è–±–∏–Ω—Å–∫–∏–π –≥–æ—Å—É–¥–∞—Ä—Å—Ç–≤–µ–Ω–Ω—ã–π —É–Ω–∏–≤–µ—Ä—Å–∏—Ç–µ—Ç, –§–ì–ë–û–£...   104
8     4080                           Axenix (—Ä–∞–Ω–µ–µ Accenture)     1
9     3415                                       –ò–ù–§–û–†–ú–ó–ê–©–ò–¢–ê     1

In [6]:
import psycopg2
import pandas as pd

# –£—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö
connection = psycopg2.connect(
    dbname='project_sql',
    user='skillfactory',
    password='cCkxxLVrDE8EbvjueeMedPKt',
    host='84.201.134.129',
    port=5432
)

# –ü–∞—Ä–∞–º–µ—Ç—Ä –¥–ª—è –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∑–∞–ø–∏—Å–µ–π
n = 10

# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –≤—ã–±–æ—Ä–∫–∏ –¥–∞–Ω–Ω—ã—Ö:
# –ò–∑ —Ç–∞–±–ª–∏—Ü—ã public.industries –≤—ã–±–∏—Ä–∞–µ–º –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã
# –û–≥—Ä–∞–Ω–∏—á–∏–≤–∞–µ–º –≤—ã–±–æ—Ä–∫—É —É–∫–∞–∑–∞–Ω–Ω—ã–º —á–∏—Å–ª–æ–º –∑–∞–ø–∏—Å–µ–π (LIMIT n)
query = f"""
    SELECT *
    FROM public.industries
    LIMIT {n}
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\311349466.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

       id                                               name
0   7.540                –†–∞–∑—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–≥—Ä–∞–º–º–Ω–æ–≥–æ –æ–±–µ—Å–ø–µ—á–µ–Ω–∏—è
1   7.539  –°–∏—Å—Ç–µ–º–Ω–∞—è –∏–Ω—Ç–µ–≥—Ä–∞—Ü–∏—è,  –∞–≤—Ç–æ–º–∞—Ç–∏–∑–∞—Ü–∏–∏ —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏...
2  27.550              –ë–µ–∑–∞–ª–∫–æ–≥–æ–ª—å–Ω—ã–µ –Ω–∞–ø–∏—Ç–∫–∏ (–ø—Ä–æ–∏–∑–≤–æ–¥—Å—Ç–≤–æ)
3  27.551  –ë–µ–∑–∞–ª–∫–æ–≥–æ–ª—å–Ω—ã–µ –Ω–∞–ø–∏—Ç–∫–∏ (–ø—Ä–æ–¥–≤–∏–∂–µ–Ω–∏–µ, –æ–ø—Ç–æ–≤–∞—è —Ç...
4  13.664             –£–ø—Ä–∞–≤–ª–µ–Ω–∏–µ –∏ —ç–∫—Å–ø–ª—É–∞—Ç–∞—Ü–∏—è –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏
5   5.466                                   –°–∫–ª–∞–¥—Å–∫–∏–µ —É—Å–ª—É–≥–∏
6  39.442                             –í—É–∑, —Å—Å—É–∑ –∫–æ–ª–ª–µ–¥–∂, –ü–¢–£
7  44.393                              –ö–æ–Ω—Å–∞–ª—Ç–∏–Ω–≥–æ–≤—ã–µ —É—Å–ª—É–≥–∏
8   5.467                      –ö—É—Ä—å–µ—Ä—Å–∫–∞—è, –ø–æ—á—Ç–æ–≤–∞—è –¥–æ—Å—Ç–∞–≤–∫–∞
9  41.525                                   –ò–Ω—Ç–µ—Ä–Ω–µ—Ç-–º–∞–≥–∞–∑–∏–Ω

In [7]:
import psycopg2
import pandas as pd

# –£—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö
connection = psycopg2.connect(
    dbname='project_sql',
    user='skillfactory',
    password='cCkxxLVrDE8EbvjueeMedPKt',
    host='84.201.134.129',
    port=5432
)

# –ü–∞—Ä–∞–º–µ—Ç—Ä –¥–ª—è –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∑–∞–ø–∏—Å–µ–π
n = 10

# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –≤—ã–±–æ—Ä–∫–∏ –¥–∞–Ω–Ω—ã—Ö:
# –ò–∑ —Ç–∞–±–ª–∏—Ü—ã public.employers_industries –≤—ã–±–∏—Ä–∞–µ–º –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã
# –û–≥—Ä–∞–Ω–∏—á–∏–≤–∞–µ–º –≤—ã–±–æ—Ä–∫—É —É–∫–∞–∑–∞–Ω–Ω—ã–º —á–∏—Å–ª–æ–º –∑–∞–ø–∏—Å–µ–π (LIMIT n)
query = f"""
    SELECT *
    FROM public.employers_industries
    LIMIT {n}
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\3965408241.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   employer_id industry_id
0         2393       7.540
1         2393       7.539
2        72977       7.540
3        72977       7.539
4         3155      27.550
5         3155      27.551
6         3155      13.664
7         3155       5.466
8          675       7.540
9       213397       7.540

In [8]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π:
# –ü–æ–¥—Å—á–∏—Ç—ã–≤–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ id –∏–∑ —Ç–∞–±–ª–∏—Ü—ã public.vacancies
query = """
    SELECT
        COUNT(DISTINCT id)
    FROM public.vacancies
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\1082563796.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   count
0  49197

In [9]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π:
# –ü–æ–¥—Å—á–∏—Ç—ã–≤–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ id –∏–∑ —Ç–∞–±–ª–∏—Ü—ã public.employers
query = """
    SELECT
        COUNT(DISTINCT id)
    FROM public.employers
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\869082355.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   count
0  23501

In [10]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π:
# –ü–æ–¥—Å—á–∏—Ç—ã–≤–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ id –∏–∑ —Ç–∞–±–ª–∏—Ü—ã public.areas
query = f"""
    SELECT
        COUNT(DISTINCT id)
    FROM public.areas
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\2962645852.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   count
0   1362

In [11]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π:
# –ü–æ–¥—Å—á–∏—Ç—ã–≤–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ id –∏–∑ —Ç–∞–±–ª–∏—Ü—ã public.industries
query = f"""
    SELECT
        COUNT(DISTINCT id)
    FROM public.industries
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\733051974.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   count
0    294

In [12]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º:
# –ò–∑ —Ç–∞–±–ª–∏—Ü—ã public.vacancies –æ–±—ä–µ–¥–∏–Ω—è–µ–º –¥–∞–Ω–Ω—ã–µ —Å —Ç–∞–±–ª–∏—Ü–µ–π public.areas –ø–æ –ø–æ–ª—é area_id
# –°—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ä–µ–≥–∏–æ–Ω–∞, —Å–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ —É–±—ã–≤–∞–Ω–∏—é –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∏ –±–µ—Ä–µ–º —Ç–æ–ø-5
query = f"""
    SELECT 
        a.name,              -- –ù–∞–∑–≤–∞–Ω–∏–µ —Ä–µ–≥–∏–æ–Ω–∞
        COUNT(v.id) AS count -- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –≤ —Ä–µ–≥–∏–æ–Ω–µ
    FROM public.vacancies v
    JOIN public.areas a
        ON v.area_id = a.id  -- –°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü –ø–æ area_id
    GROUP BY a.name          -- –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ –Ω–∞–∑–≤–∞–Ω–∏—é —Ä–µ–≥–∏–æ–Ω–∞
    ORDER BY count DESC      -- –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –≤–∞–∫–∞–Ω—Å–∏–π –≤ —É–±—ã–≤–∞—é—â–µ–º –ø–æ—Ä—è–¥–∫–µ
    LIMIT 5                  -- –û–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–µ –Ω–∞ 5 –∑–∞–ø–∏—Å–µ–π
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\3773073412.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

              name  count
0           –ú–æ—Å–∫–≤–∞   5333
1  –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥   2851
2            –ú–∏–Ω—Å–∫   2112
3      –ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫   2006
4           –ê–ª–º–∞—Ç—ã   1892

### üìä –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º

#### **1. –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º**
- **–ú–æ—Å–∫–≤–∞** ‚Äî 5333 –≤–∞–∫–∞–Ω—Å–∏–∏, —á—Ç–æ –¥–µ–ª–∞–µ—Ç –µ—ë –±–µ–∑—É—Å–ª–æ–≤–Ω—ã–º –ª–∏–¥–µ—Ä–æ–º.
- **–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥** ‚Äî 2851 –≤–∞–∫–∞–Ω—Å–∏—è, –∑–∞–Ω–∏–º–∞–µ—Ç –≤—Ç–æ—Ä–æ–µ –º–µ—Å—Ç–æ.
- **–ú–∏–Ω—Å–∫** ‚Äî 2112 –≤–∞–∫–∞–Ω—Å–∏–π, —Ç—Ä–µ—Ç—å–µ –º–µ—Å—Ç–æ.
- **–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫** ‚Äî 2006 –≤–∞–∫–∞–Ω—Å–∏–π, —á–µ—Ç–≤—ë—Ä—Ç–æ–µ –º–µ—Å—Ç–æ.
- **–ê–ª–º–∞—Ç—ã** ‚Äî 1892 –≤–∞–∫–∞–Ω—Å–∏–∏, –ø—è—Ç–æ–µ –º–µ—Å—Ç–æ.

#### **2. –í—ã–≤–æ–¥—ã**
1. **–¶–µ–Ω—Ç—Ä–∞–ª–∏–∑–∞—Ü–∏—è —Ä—ã–Ω–∫–∞ —Ç—Ä—É–¥–∞:**
   - –û—Å–Ω–æ–≤–Ω–∞—è –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏—è –≤–∞–∫–∞–Ω—Å–∏–π –ø—Ä–∏—Ö–æ–¥–∏—Ç—Å—è –Ω–∞ –ú–æ—Å–∫–≤—É –∏ –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥. –≠—Ç–∏ –≥–æ—Ä–æ–¥–∞ —è–≤–ª—è—é—Ç—Å—è –æ—Å–Ω–æ–≤–Ω—ã–º–∏ —ç–∫–æ–Ω–æ–º–∏—á–µ—Å–∫–∏–º–∏ –∏ –¥–µ–ª–æ–≤—ã–º–∏ —Ü–µ–Ω—Ç—Ä–∞–º–∏ –†–æ—Å—Å–∏–∏.

2. **–†–æ–ª—å —Ä–µ–≥–∏–æ–Ω–∞–ª—å–Ω—ã—Ö —Ü–µ–Ω—Ç—Ä–æ–≤:**
   - –ú–∏–Ω—Å–∫ –∏ –ê–ª–º–∞—Ç—ã –≤—Ö–æ–¥—è—Ç –≤ —Ç–æ–ø-5, —á—Ç–æ —Å–≤—è–∑–∞–Ω–æ —Å –º–µ–∂–¥—É–Ω–∞—Ä–æ–¥–Ω—ã–º–∏ –∏ —Ä–µ–≥–∏–æ–Ω–∞–ª—å–Ω—ã–º–∏ –∫–æ–º–ø–∞–Ω–∏—è–º–∏, —Ä–∞–∑–≤–∏–≤–∞—é—â–∏–º–∏ –±–∏–∑–Ω–µ—Å –≤ —ç—Ç–∏—Ö –≥–æ—Ä–æ–¥–∞—Ö.
   - –ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫, –∫–∞–∫ –∫—Ä—É–ø–Ω—ã–π –Ω–∞—É—á–Ω–æ-–æ–±—Ä–∞–∑–æ–≤–∞—Ç–µ–ª—å–Ω—ã–π —Ü–µ–Ω—Ç—Ä, –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç —Å—Ç–∞–±–∏–ª—å–Ω—ã–π —Å–ø—Ä–æ—Å –Ω–∞ —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤.

3. **–î–∏—Å–±–∞–ª–∞–Ω—Å —Ä–µ–≥–∏–æ–Ω–æ–≤:**
   - –†–∞–∑—Ä—ã–≤ –º–µ–∂–¥—É –ú–æ—Å–∫–≤–æ–π –∏ –¥—Ä—É–≥–∏–º–∏ –≥–æ—Ä–æ–¥–∞–º–∏ —É–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞ –≤—ã—Å–æ–∫—É—é —Å—Ç–µ–ø–µ–Ω—å —Ü–µ–Ω—Ç—Ä–∞–ª–∏–∑–∞—Ü–∏–∏ —Ä–∞–±–æ—á–∏—Ö –º–µ—Å—Ç –∏ –∫–æ–º–ø–∞–Ω–∏–π.

#### **3. –¢–µ–Ω–¥–µ–Ω—Ü–∏–∏ –∏ –ø—Ä–æ–≥–Ω–æ–∑—ã**
1. **–ú–æ—Å–∫–≤–∞ –∏ –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥**:
   - –≠—Ç–∏ –≥–æ—Ä–æ–¥–∞ –æ—Å—Ç–∞–Ω—É—Ç—Å—è –ª–∏–¥–µ—Ä–∞–º–∏ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –≤–∞–∫–∞–Ω—Å–∏–π, —É—á–∏—Ç—ã–≤–∞—è –∏—Ö —ç–∫–æ–Ω–æ–º–∏—á–µ—Å–∫–æ–µ –∏ –¥–µ–ª–æ–≤–æ–µ –¥–æ–º–∏–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ.
2. **–ú–∏–Ω—Å–∫ –∏ –ê–ª–º–∞—Ç—ã**:
   - –í–æ–∑–º–æ–∂–µ–Ω —Ä–æ—Å—Ç –≤–∞–∫–∞–Ω—Å–∏–π –≤ —ç—Ç–∏—Ö –≥–æ—Ä–æ–¥–∞—Ö –±–ª–∞–≥–æ–¥–∞—Ä—è —É–∫—Ä–µ–ø–ª–µ–Ω–∏—é –º–µ–∂–¥—É–Ω–∞—Ä–æ–¥–Ω–æ–≥–æ —Å–æ—Ç—Ä—É–¥–Ω–∏—á–µ—Å—Ç–≤–∞ –∏ —Ä–∞–∑–≤–∏—Ç–∏—é IT-–∏–Ω–¥—É—Å—Ç—Ä–∏–∏.
3. **–†–µ–≥–∏–æ–Ω–∞–ª—å–Ω—ã–µ —Ü–µ–Ω—Ç—Ä—ã**:
   - –ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫ –∏ –¥—Ä—É–≥–∏–µ –≥–æ—Ä–æ–¥–∞-–º–∏–ª–ª–∏–æ–Ω–Ω–∏–∫–∏ –¥–µ–º–æ–Ω—Å—Ç—Ä–∏—Ä—É—é—Ç –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ —Ä–æ—Å—Ç–∞ —Ä—ã–Ω–∫–∞ —Ç—Ä—É–¥–∞.

#### **4. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞**
1. **–ö–∞—Ç–µ–≥–æ—Ä–∏–∏ –≤–∞–∫–∞–Ω—Å–∏–π**:
   - –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å, –∫–∞–∫–∏–µ –æ—Ç—Ä–∞—Å–ª–∏ –ø—Ä–µ–æ–±–ª–∞–¥–∞—é—Ç –≤ –∫–∞–∂–¥–æ–º –∏–∑ –≥–æ—Ä–æ–¥–æ–≤ (–Ω–∞–ø—Ä–∏–º–µ—Ä, IT, –º–µ–¥–∏—Ü–∏–Ω–∞, —Ñ–∏–Ω–∞–Ω—Å—ã).
2. **–ó–∞—Ä–ø–ª–∞—Ç—ã**:
   - –ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å —Å—Ä–µ–¥–Ω–∏–µ –∑–∞—Ä–ø–ª–∞—Ç—ã –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º –¥–ª—è –æ—Ü–µ–Ω–∫–∏ —É—Ä–æ–≤–Ω—è –æ–ø–ª–∞—Ç—ã —Ç—Ä—É–¥–∞.
3. **–î–∏–Ω–∞–º–∏–∫–∞**:
   - –°—Ä–∞–≤–Ω–∏—Ç—å –¥–∞–Ω–Ω—ã–µ —Å –ø—Ä–µ–¥—ã–¥—É—â–∏–º–∏ –ø–µ—Ä–∏–æ–¥–∞–º–∏, —á—Ç–æ–±—ã –≤—ã—è–≤–∏—Ç—å —Ç—Ä–µ–Ω–¥—ã –∏–∑–º–µ–Ω–µ–Ω–∏—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π.
4. **–í–∞–∫–∞–Ω—Å–∏–∏ Data Scientist**:
   - –ü—Ä–æ–≤–µ—Å—Ç–∏ –æ—Ç–¥–µ–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –≤–∞–∫–∞–Ω—Å–∏–π –¥–ª—è —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ –≤ –æ–±–ª–∞—Å—Ç–∏ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö.

In [13]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π, –≥–¥–µ —É–∫–∞–∑–∞–Ω–∞ –∑–∞—Ä–ø–ª–∞—Ç–∞:
# –ü—Ä–æ–≤–µ—Ä—è–µ–º, —á—Ç–æ —Ö–æ—Ç—è –±—ã –æ–¥–Ω–æ –∏–∑ –ø–æ–ª–µ–π salary_from –∏–ª–∏ salary_to –Ω–µ —Ä–∞–≤–Ω–æ NULL
query = f"""
    SELECT
        COUNT(*)
    FROM public.vacancies
    WHERE salary_from IS NOT NULL OR salary_to IS NOT NULL
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\874898699.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   count
0  24073

In [14]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ –≥—Ä–∞—Ñ–∏–∫—É —Ä–∞–±–æ—Ç—ã –∏ –∑–∞–Ω—è—Ç–æ—Å—Ç–∏:
# –ì—Ä—É–ø–ø–∏—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ –ø–æ–ª—è–º schedule –∏ employment, —Å–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ —É–±—ã–≤–∞–Ω–∏—é –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∏ –±–µ—Ä–µ–º —Ç–æ–ø-2
query = f"""
    SELECT
        schedule,           -- –ì—Ä–∞—Ñ–∏–∫ —Ä–∞–±–æ—Ç—ã (–Ω–∞–ø—Ä–∏–º–µ—Ä, –ø–æ–ª–Ω—ã–π –¥–µ–Ω—å, —Å–º–µ–Ω–Ω—ã–π)
        employment,         -- –¢–∏–ø –∑–∞–Ω—è—Ç–æ—Å—Ç–∏ (–Ω–∞–ø—Ä–∏–º–µ—Ä, –ø–æ–ª–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å, —á–∞—Å—Ç–∏—á–Ω–∞—è)
        COUNT(*) AS count   -- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –¥–ª—è –∫–∞–∂–¥–æ–π –∫–æ–º–±–∏–Ω–∞—Ü–∏–∏
    FROM public.vacancies
    GROUP BY schedule, employment -- –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ –≥—Ä–∞—Ñ–∏–∫—É –∏ —Ç–∏–ø—É –∑–∞–Ω—è—Ç–æ—Å—Ç–∏
    ORDER BY count DESC           -- –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –≤–∞–∫–∞–Ω—Å–∏–π –≤ —É–±—ã–≤–∞—é—â–µ–º –ø–æ—Ä—è–¥–∫–µ
    LIMIT 2                       -- –û–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–µ –Ω–∞ 2 –∑–∞–ø–∏—Å–∏
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\3697204009.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

           schedule        employment  count
0       –ü–æ–ª–Ω—ã–π –¥–µ–Ω—å  –ü–æ–ª–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å  35367
1  –£–¥–∞–ª–µ–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞  –ü–æ–ª–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å   7802

### üìä –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ –≥—Ä–∞—Ñ–∏–∫—É —Ä–∞–±–æ—Ç—ã –∏ —Ç–∏–ø—É –∑–∞–Ω—è—Ç–æ—Å—Ç–∏

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç—ã**
- **–ü–æ–ª–Ω—ã–π –¥–µ–Ω—å, –ü–æ–ª–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å** ‚Äî 35,367 –≤–∞–∫–∞–Ω—Å–∏–π.
- **–£–¥–∞–ª—ë–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞, –ü–æ–ª–Ω–∞—è –∑–∞–Ω—è—Ç–æ—Å—Ç—å** ‚Äî 7,802 –≤–∞–∫–∞–Ω—Å–∏–∏.

#### **2. –í—ã–≤–æ–¥—ã**
1. **–î–æ–º–∏–Ω–∏—Ä—É–µ—Ç —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω—ã–π –≥—Ä–∞—Ñ–∏–∫:**
   - –ù–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π —Å–≤—è–∑–∞–Ω–æ —Å –ø–æ–ª–Ω—ã–º —Ä–∞–±–æ—á–∏–º –¥–Ω—ë–º –∏ –ø–æ–ª–Ω–æ–π –∑–∞–Ω—è—Ç–æ—Å—Ç—å—é. –≠—Ç–æ —É–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞ —Ç–æ, —á—Ç–æ –∫–æ–º–ø–∞–Ω–∏–∏ –ø–æ-–ø—Ä–µ–∂–Ω–µ–º—É –æ—Ä–∏–µ–Ω—Ç–∏—Ä–æ–≤–∞–Ω—ã –Ω–∞ —Ç—Ä–∞–¥–∏—Ü–∏–æ–Ω–Ω—ã–π —Ñ–æ—Ä–º–∞—Ç —Ä–∞–±–æ—Ç—ã.

2. **–£–¥–∞–ª—ë–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞ –≤ —Ç—Ä–µ–Ω–¥–µ:**
   - –ó–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π (7,802) —Å —É–¥–∞–ª—ë–Ω–Ω—ã–º –≥—Ä–∞—Ñ–∏–∫–æ–º —É–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞ —Ä–∞—Å—Ç—É—â—É—é –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å –≥–∏–±–∫–∏—Ö —Ñ–æ—Ä–º–∞—Ç–æ–≤ —Ç—Ä—É–¥–∞. –≠—Ç–æ, —Å–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ, —Å–≤—è–∑–∞–Ω–æ —Å —Ä–∞–∑–≤–∏—Ç–∏–µ–º IT-—Å–µ–∫—Ç–æ—Ä–∞ –∏ –ø–æ—Å–ª–µ–¥—Å—Ç–≤–∏—è–º–∏ –ø–∞–Ω–¥–µ–º–∏–∏, –∫–æ—Ç–æ—Ä—ã–µ –∏–∑–º–µ–Ω–∏–ª–∏ –ø–æ–¥—Ö–æ–¥ –∫ —Ä–∞–±–æ—Ç–µ.

3. **–¢–µ–Ω–¥–µ–Ω—Ü–∏–∏ –Ω–∞ —Ä—ã–Ω–∫–µ —Ç—Ä—É–¥–∞:**
   - –£–¥–∞–ª—ë–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞ —Å—Ç–∞–Ω–æ–≤–∏—Ç—Å—è –∫–æ–Ω–∫—É—Ä–µ–Ω—Ç–æ—Å–ø–æ—Å–æ–±–Ω–æ–π –∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–æ–π —Ç—Ä–∞–¥–∏—Ü–∏–æ–Ω–Ω—ã–º –≥—Ä–∞—Ñ–∏–∫–∞–º, –æ—Å–æ–±–µ–Ω–Ω–æ –≤ —Å—Ñ–µ—Ä–∞—Ö, –≥–¥–µ –ø—Ä–æ–∏–∑–≤–æ–¥–∏—Ç–µ–ª—å–Ω–æ—Å—Ç—å –Ω–µ –∑–∞–≤–∏—Å–∏—Ç –æ—Ç —Ñ–∏–∑–∏—á–µ—Å–∫–æ–≥–æ –ø—Ä–∏—Å—É—Ç—Å—Ç–≤–∏—è —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤.

#### **3. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞**
1. **–°–µ–≥–º–µ–Ω—Ç–∞—Ü–∏—è –ø–æ –æ—Ç—Ä–∞—Å–ª—è–º:**
   - –í—ã—è—Å–Ω–∏—Ç—å, –≤ –∫–∞–∫–∏—Ö –æ—Ç—Ä–∞—Å–ª—è—Ö –ø—Ä–µ–æ–±–ª–∞–¥–∞—é—Ç –≤–∞–∫–∞–Ω—Å–∏–∏ —Å —É–¥–∞–ª—ë–Ω–Ω–æ–π —Ä–∞–±–æ—Ç–æ–π.
   - –°—Ä–∞–≤–Ω–∏—Ç—å –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å —É–¥–∞–ª—ë–Ω–Ω–æ–π —Ä–∞–±–æ—Ç—ã –≤ IT –∏ –¥—Ä—É–≥–∏—Ö —Å–µ–∫—Ç–æ—Ä–∞—Ö.

2. **–î–∏–Ω–∞–º–∏–∫–∞ –∏–∑–º–µ–Ω–µ–Ω–∏—è —Ñ–æ—Ä–º–∞—Ç–æ–≤ —Ä–∞–±–æ—Ç—ã:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å —Ç–µ–∫—É—â–∏–µ –¥–∞–Ω–Ω—ã–µ —Å –∏—Å—Ç–æ—Ä–∏—á–µ—Å–∫–∏–º–∏, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å, –∫–∞–∫ –º–µ–Ω—è–µ—Ç—Å—è –¥–æ–ª—è —É–¥–∞–ª—ë–Ω–Ω–æ–π —Ä–∞–±–æ—Ç—ã.

3. **–ó–∞—Ä–ø–ª–∞—Ç—ã:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å —Å—Ä–µ–¥–Ω–∏–µ –∑–∞—Ä–ø–ª–∞—Ç—ã –¥–ª—è –≤–∞–∫–∞–Ω—Å–∏–π —Å —É–¥–∞–ª—ë–Ω–Ω–æ–π —Ä–∞–±–æ—Ç–æ–π –∏ —Ç—Ä–∞–¥–∏—Ü–∏–æ–Ω–Ω—ã–º –≥—Ä–∞—Ñ–∏–∫–æ–º.

4. **–ì–∏–±—Ä–∏–¥–Ω—ã–µ —Ñ–æ—Ä–º–∞—Ç—ã:**
   - –ü—Ä–æ–≤–µ—Å—Ç–∏ –æ—Ç–¥–µ–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –≥–∏–±—Ä–∏–¥–Ω—ã—Ö –≥—Ä–∞—Ñ–∏–∫–æ–≤ (—á–∞—Å—Ç–∏—á–Ω–∞—è —É–¥–∞–ª—ë–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞), –µ—Å–ª–∏ —Ç–∞–∫–∏–µ –¥–∞–Ω–Ω—ã–µ –µ—Å—Ç—å.

In [15]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ –æ–ø—ã—Ç—É —Ä–∞–±–æ—Ç—ã:
# –ü—Ä–æ–≤–µ—Ä—è–µ–º, —á—Ç–æ –ø–æ–ª–µ experience –Ω–µ —Ä–∞–≤–Ω–æ NULL, –≥—Ä—É–ø–ø–∏—Ä—É–µ–º –ø–æ —É—Ä–æ–≤–Ω—é –æ–ø—ã—Ç–∞ –∏ —Å–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞
query = f"""
    SELECT
        experience,        -- –£—Ä–æ–≤–µ–Ω—å –æ–ø—ã—Ç–∞ (–Ω–∞–ø—Ä–∏–º–µ—Ä, "–ù–µ—Ç –æ–ø—ã—Ç–∞", "–û—Ç 1 –≥–æ–¥–∞")
        COUNT(*) AS count  -- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —É—Ä–æ–≤–Ω—è –æ–ø—ã—Ç–∞
    FROM public.vacancies
    WHERE experience IS NOT NULL -- –£—á–∏—Ç—ã–≤–∞–µ–º —Ç–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ –ø–æ–ª–µ experience –∑–∞–ø–æ–ª–Ω–µ–Ω–æ
    GROUP BY experience          -- –ì—Ä—É–ø–ø–∏—Ä—É–µ–º –ø–æ —É—Ä–æ–≤–Ω—é –æ–ø—ã—Ç–∞
    ORDER BY count ASC           -- –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –≤–∞–∫–∞–Ω—Å–∏–π –≤ –ø–æ—Ä—è–¥–∫–µ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—è
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\1723601062.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

           experience  count
0         –ë–æ–ª–µ–µ 6 –ª–µ—Ç   1337
1           –ù–µ—Ç –æ–ø—ã—Ç–∞   7197
2       –û—Ç 3 –¥–æ 6 –ª–µ—Ç  14511
3  –û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç  26152

### üìä –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ –æ–ø—ã—Ç—É —Ä–∞–±–æ—Ç—ã

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç—ã**
- **–ë–æ–ª–µ–µ 6 –ª–µ—Ç:** 1337 –≤–∞–∫–∞–Ω—Å–∏–π.
- **–ù–µ—Ç –æ–ø—ã—Ç–∞:** 7197 –≤–∞–∫–∞–Ω—Å–∏–π.
- **–û—Ç 3 –¥–æ 6 –ª–µ—Ç:** 14,511 –≤–∞–∫–∞–Ω—Å–∏–π.
- **–û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç:** 26,152 –≤–∞–∫–∞–Ω—Å–∏–∏.

#### **2. –í—ã–≤–æ–¥—ã**
1. **–°–ø—Ä–æ—Å –Ω–∞ —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ —Å –Ω–µ–±–æ–ª—å—à–∏–º –æ–ø—ã—Ç–æ–º:**
   - –ù–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –æ—Ä–∏–µ–Ω—Ç–∏—Ä–æ–≤–∞–Ω–æ –Ω–∞ —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ —Å –æ–ø—ã—Ç–æ–º –æ—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç. –≠—Ç–æ –º–æ–∂–µ—Ç —É–∫–∞–∑—ã–≤–∞—Ç—å –Ω–∞ —Ç–æ, —á—Ç–æ –∫–æ–º–ø–∞–Ω–∏–∏ –∏—â—É—Ç —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ —É–∂–µ –ø—Ä–∏–æ–±—Ä–µ–ª–∏ –±–∞–∑–æ–≤—ã–µ –Ω–∞–≤—ã–∫–∏, –Ω–æ –µ—â—ë –Ω–µ —Ç—Ä–µ–±—É—é—Ç –≤—ã—Å–æ–∫–æ–π –∑–∞—Ä–ø–ª–∞—Ç—ã.

2. **–®–∞–Ω—Å—ã –¥–ª—è –Ω–æ–≤–∏—á–∫–æ–≤:**
   - –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –¥–ª—è —Ç–µ—Ö, —É –∫–æ–≥–æ "–ù–µ—Ç –æ–ø—ã—Ç–∞" ‚Äî 7197. –≠—Ç–æ –ø–æ–¥—Ç–≤–µ—Ä–∂–¥–∞–µ—Ç, —á—Ç–æ —Ä—ã–Ω–æ–∫ –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª—è–µ—Ç –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ –¥–ª—è –Ω–∞—á–∏–Ω–∞—é—â–∏—Ö —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤, –æ—Å–æ–±–µ–Ω–Ω–æ –≤ —Ä–∞—Å—Ç—É—â–∏—Ö –æ—Ç—Ä–∞—Å–ª—è—Ö, —Ç–∞–∫–∏—Ö –∫–∞–∫ IT.

3. **–û–ø—ã—Ç–Ω—ã–µ —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç—ã –º–µ–Ω–µ–µ –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω—ã:**
   - –í–∞–∫–∞–Ω—Å–∏–∏ –¥–ª—è —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ —Å –æ–ø—ã—Ç–æ–º "–ë–æ–ª–µ–µ 6 –ª–µ—Ç" —Å–æ—Å—Ç–∞–≤–ª—è—é—Ç –ª–∏—à—å 1337, —á—Ç–æ –º–æ–∂–µ—Ç –≥–æ–≤–æ—Ä–∏—Ç—å –æ —Å–ª–µ–¥—É—é—â–µ–º:
     - –ö–æ–º–ø–∞–Ω–∏–∏ —Ä–µ–∂–µ –æ—Ç–∫—Ä—ã–≤–∞—é—Ç –ø–æ–∑–∏—Ü–∏–∏ –¥–ª—è –≤—ã—Å–æ–∫–æ–∫–≤–∞–ª–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤.
     - –í–æ–∑–º–æ–∂–Ω–æ, —Ç–∞–∫–∏–µ —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç—ã —É–∂–µ —Ç—Ä—É–¥–æ—É—Å—Ç—Ä–æ–µ–Ω—ã –∏ –∏–º–µ—é—Ç –º–µ–Ω—å—à—É—é –º–æ–±–∏–ª—å–Ω–æ—Å—Ç—å –Ω–∞ —Ä—ã–Ω–∫–µ —Ç—Ä—É–¥–∞.

4. **–ë–∞–ª–∞–Ω—Å —Å–ø—Ä–æ—Å–∞ –Ω–∞ –æ–ø—ã—Ç–Ω—ã—Ö —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤:**
   - –í–∞–∫–∞–Ω—Å–∏–π –¥–ª—è —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ —Å –æ–ø—ã—Ç–æ–º –æ—Ç 3 –¥–æ 6 –ª–µ—Ç (14,511) –º–µ–Ω—å—à–µ, —á–µ–º –¥–ª—è —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤ —Å –æ–ø—ã—Ç–æ–º –æ—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç, –Ω–æ –≤—Å—ë –µ—â—ë –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ, —á—Ç–æ–±—ã —Å—á–∏—Ç–∞—Ç—å –∏—Ö –≤–∞–∂–Ω–æ–π –≥—Ä—É–ø–ø–æ–π –Ω–∞ —Ä—ã–Ω–∫–µ.

#### **3. –¢–µ–Ω–¥–µ–Ω—Ü–∏–∏ –∏ –ø—Ä–æ–≥–Ω–æ–∑—ã**
1. **–†–∞—Å—Ç—É—â–∏–π —Å–ø—Ä–æ—Å –Ω–∞ –Ω–∞—á–∏–Ω–∞—é—â–∏—Ö —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤:**
   - –í–æ–∑–º–æ–∂–Ω–æ, —ç—Ç–æ —Å–≤—è–∑–∞–Ω–æ —Å –∞–∫—Ç–∏–≤–Ω—ã–º —Ä–∞–∑–≤–∏—Ç–∏–µ–º –Ω–æ–≤—ã—Ö –æ—Ç—Ä–∞—Å–ª–µ–π (–Ω–∞–ø—Ä–∏–º–µ—Ä, IT, –º–∞—Ä–∫–µ—Ç–∏–Ω–≥), –≥–¥–µ –∫–æ–º–ø–∞–Ω–∏–∏ –≥–æ—Ç–æ–≤—ã –æ–±—É—á–∞—Ç—å —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤ "—Å –Ω—É–ª—è".
2. **–°—Ç–∞–±–∏–ª—å–Ω–æ—Å—Ç—å —Å—Ä–µ–¥–Ω–µ–≥–æ —É—Ä–æ–≤–Ω—è:**
   - –°–ø—Ä–æ—Å –Ω–∞ —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ —Å –æ–ø—ã—Ç–æ–º –æ—Ç 1 –≥–æ–¥–∞ –¥–æ 6 –ª–µ—Ç –æ—Å—Ç–∞—ë—Ç—Å—è –Ω–∞–∏–±–æ–ª–µ–µ –≤—ã—Å–æ–∫–∏–º –∏ —Å—Ç–∞–±–∏–ª—å–Ω—ã–º.
3. **–û–≥—Ä–∞–Ω–∏—á–µ–Ω–Ω—ã–π —Ä—ã–Ω–æ–∫ –¥–ª—è –æ–ø—ã—Ç–Ω—ã—Ö —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤:**
   - –ö–æ–º–ø–∞–Ω–∏–∏ –º–æ–≥—É—Ç –ø—Ä–µ–¥–ø–æ—á–∏—Ç–∞—Ç—å —Ä–∞–∑–≤–∏–≤–∞—Ç—å —Å–≤–æ–∏—Ö —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤, –∞ –Ω–µ –ø—Ä–∏–≤–ª–µ–∫–∞—Ç—å –¥–æ—Ä–æ–≥–æ—Å—Ç–æ—è—â–∏—Ö —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ —Å –æ–ø—ã—Ç–æ–º –±–æ–ª–µ–µ 6 –ª–µ—Ç.

#### **4. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞**
1. **–ê–Ω–∞–ª–∏–∑ –ø–æ –æ—Ç—Ä–∞—Å–ª—è–º:**
   - –†–∞–∑–±–∏—Ç—å –≤–∞–∫–∞–Ω—Å–∏–∏ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º (–Ω–∞–ø—Ä–∏–º–µ—Ä, IT, —Ñ–∏–Ω–∞–Ω—Å—ã) –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —É—Ä–æ–≤–Ω—è –æ–ø—ã—Ç–∞.
2. **–°—Ä–∞–≤–Ω–µ–Ω–∏–µ –∑–∞—Ä–ø–ª–∞—Ç:**
   - –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å —Å—Ä–µ–¥–Ω–∏–µ –∑–∞—Ä–ø–ª–∞—Ç—ã –¥–ª—è –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –æ–ø—ã—Ç–∞, —á—Ç–æ–±—ã –æ—Ü–µ–Ω–∏—Ç—å –ø—Ä–∏–≤–ª–µ–∫–∞—Ç–µ–ª—å–Ω–æ—Å—Ç—å –≤–∞–∫–∞–Ω—Å–∏–π.
3. **–î–∏–Ω–∞–º–∏–∫–∞ —Å–ø—Ä–æ—Å–∞:**
   - –í—ã—è–≤–∏—Ç—å —Ç—Ä–µ–Ω–¥—ã –∏–∑–º–µ–Ω–µ–Ω–∏—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π –¥–ª—è —Ä–∞–∑–Ω—ã—Ö —É—Ä–æ–≤–Ω–µ–π –æ–ø—ã—Ç–∞ –ø–æ –≥–æ–¥–∞–º.

In [16]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π —É —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π:
# –°–æ–µ–¥–∏–Ω—è–µ–º —Ç–∞–±–ª–∏—Ü—ã public.vacancies –∏ public.employers –ø–æ –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—É —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è
# –ü–æ–¥—Å—á–∏—Ç—ã–≤–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è, —Å–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ —É–±—ã–≤–∞–Ω–∏—é –∏ –±–µ—Ä–µ–º —Ç–æ–ø-5
query = f"""
    SELECT
        e.name AS employer_name, -- –ù–∞–∑–≤–∞–Ω–∏–µ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è
        COUNT(v.id) AS vacancy_count -- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π
    FROM public.vacancies v
    JOIN public.employers e
        ON e.id = v.employer_id -- –°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –ø–æ –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—É —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è
    GROUP BY e.name             -- –ì—Ä—É–ø–ø–∏—Ä—É–µ–º –ø–æ –Ω–∞–∑–≤–∞–Ω–∏—é —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è
    ORDER BY vacancy_count DESC -- –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –≤–∞–∫–∞–Ω—Å–∏–π –≤ —É–±—ã–≤–∞—é—â–µ–º –ø–æ—Ä—è–¥–∫–µ
    LIMIT 5                     -- –û–≥—Ä–∞–Ω–∏—á–∏–≤–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –¥–æ 5 –∑–∞–ø–∏—Å–µ–π
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\4047352868.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   employer_name  vacancy_count
0         –Ø–Ω–¥–µ–∫—Å           1933
1     –†–æ—Å—Ç–µ–ª–µ–∫–æ–º            491
2       –¢–∏–Ω—å–∫–æ—Ñ—Ñ            444
3           –°–ë–ï–†            428
4  –ì–∞–∑–ø—Ä–æ–º –Ω–µ—Ñ—Ç—å            331

### üìä –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π —É —Ç–æ–ø-5 —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç—ã**
- **–Ø–Ω–¥–µ–∫—Å** ‚Äî 1,933 –≤–∞–∫–∞–Ω—Å–∏–∏.
- **–†–æ—Å—Ç–µ–ª–µ–∫–æ–º** ‚Äî 491 –≤–∞–∫–∞–Ω—Å–∏—è.
- **–¢–∏–Ω—å–∫–æ—Ñ—Ñ** ‚Äî 444 –≤–∞–∫–∞–Ω—Å–∏–∏.
- **–°–ë–ï–†** ‚Äî 428 –≤–∞–∫–∞–Ω—Å–∏–π.
- **–ì–∞–∑–ø—Ä–æ–º –Ω–µ—Ñ—Ç—å** ‚Äî 331 –≤–∞–∫–∞–Ω—Å–∏—è.

#### **2. –í—ã–≤–æ–¥—ã**
1. **–î–æ–º–∏–Ω–∏—Ä—É—é—â–∞—è –ø–æ–∑–∏—Ü–∏—è –Ø–Ω–¥–µ–∫—Å–∞:**
   - –Ø–Ω–¥–µ–∫—Å –ª–∏–¥–∏—Ä—É–µ—Ç —Å –±–æ–ª—å—à–∏–º –æ—Ç—Ä—ã–≤–æ–º, –ø—Ä–µ–¥–ª–∞–≥–∞—è –ø–æ—á—Ç–∏ –≤ 4 —Ä–∞–∑–∞ –±–æ–ª—å—à–µ –≤–∞–∫–∞–Ω—Å–∏–π, —á–µ–º –†–æ—Å—Ç–µ–ª–µ–∫–æ–º, –∑–∞–Ω–∏–º–∞—é—â–∏–π –≤—Ç–æ—Ä–æ–µ –º–µ—Å—Ç–æ. –≠—Ç–æ —Å–≤—è–∑–∞–Ω–æ —Å –∞–∫—Ç–∏–≤–Ω—ã–º —Ä–∞–∑–≤–∏—Ç–∏–µ–º IT-–Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—è –∏ –≤—ã—Å–æ–∫–∏–º–∏ —Ç–µ–º–ø–∞–º–∏ —Ä–æ—Å—Ç–∞ –∫–æ–º–ø–∞–Ω–∏–∏.

2. **–ö—Ä—É–ø–Ω—ã–µ –∫–æ–º–ø–∞–Ω–∏–∏ –¥—Ä—É–≥–∏—Ö –æ—Ç—Ä–∞—Å–ª–µ–π:**
   - **–†–æ—Å—Ç–µ–ª–µ–∫–æ–º** (491) –∏ **–°–ë–ï–†** (428) –∞–∫—Ç–∏–≤–Ω–æ –∏—â—É—Ç —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–æ–≤, —á—Ç–æ —Å–≤—è–∑–∞–Ω–æ —Å –∏—Ö —Ü–∏—Ñ—Ä–æ–≤–æ–π —Ç—Ä–∞–Ω—Å—Ñ–æ—Ä–º–∞—Ü–∏–µ–π –∏ —Ä–∞–∑–≤–∏—Ç–∏–µ–º –Ω–æ–≤—ã—Ö —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏–π.
   - **–ì–∞–∑–ø—Ä–æ–º –Ω–µ—Ñ—Ç—å** (331) –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç —Å–µ–∫—Ç–æ—Ä —ç–Ω–µ—Ä–≥–µ—Ç–∏–∫–∏, –≥–¥–µ —Å–ø—Ä–æ—Å –Ω–∞ —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ –æ—Å—Ç–∞—ë—Ç—Å—è —Å—Ç–∞–±–∏–ª—å–Ω—ã–º.

3. **–¢—Ä–µ–Ω–¥ –Ω–∞ —Ü–∏—Ñ—Ä–æ–≤–∏–∑–∞—Ü–∏—é:**
   - –ë–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ –ª–∏–¥–µ—Ä–æ–≤ (–Ø–Ω–¥–µ–∫—Å, –†–æ—Å—Ç–µ–ª–µ–∫–æ–º, –¢–∏–Ω—å–∫–æ—Ñ—Ñ, –°–ë–ï–†) –∞–∫—Ç–∏–≤–Ω–æ –≤–Ω–µ–¥—Ä—è—é—Ç —Ü–∏—Ñ—Ä–æ–≤—ã–µ —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏–∏, —á—Ç–æ –æ–±—ä—è—Å–Ω—è–µ—Ç –≤—ã—Å–æ–∫–∏–π —Å–ø—Ä–æ—Å –Ω–∞ —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤, –æ—Å–æ–±–µ–Ω–Ω–æ –≤ IT.

#### **3. –¢–µ–Ω–¥–µ–Ω—Ü–∏–∏ –∏ –ø—Ä–æ–≥–Ω–æ–∑—ã**
1. **–ü—Ä–æ–¥–æ–ª–∂–µ–Ω–∏–µ –¥–æ–º–∏–Ω–∏—Ä–æ–≤–∞–Ω–∏—è IT-–∫–æ–º–ø–∞–Ω–∏–π:**
   - IT-—Å–µ–∫—Ç–æ—Ä, –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–π –Ø–Ω–¥–µ–∫—Å–æ–º, –¢–∏–Ω—å–∫–æ—Ñ—Ñ –∏ –¥—Ä—É–≥–∏–º–∏ –∫–æ–º–ø–∞–Ω–∏—è–º–∏, –ø—Ä–æ–¥–æ–ª–∂–∏—Ç –Ω–∞–±–∏—Ä–∞—Ç—å –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å.
2. **–†–æ—Å—Ç –≤–∞–∫–∞–Ω—Å–∏–π –≤ –¥—Ä—É–≥–∏—Ö –æ—Ç—Ä–∞—Å–ª—è—Ö:**
   - –ë–∞–Ω–∫–æ–≤—Å–∫–∞—è –∏ —ç–Ω–µ—Ä–≥–µ—Ç–∏—á–µ—Å–∫–∞—è –æ—Ç—Ä–∞—Å–ª–∏ (–°–ë–ï–†, –ì–∞–∑–ø—Ä–æ–º –Ω–µ—Ñ—Ç—å) –±—É–¥—É—Ç —Ç–∞–∫–∂–µ –∞–∫—Ç–∏–≤–Ω–æ —Ä–∞–∑–≤–∏–≤–∞—Ç—å –Ω–æ–≤—ã–µ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—è, —Ç–∞–∫–∏–µ –∫–∞–∫ —Ñ–∏–Ω—Ç–µ—Ö –∏ –∞–≤—Ç–æ–º–∞—Ç–∏–∑–∞—Ü–∏—è –ø—Ä–æ—Ü–µ—Å—Å–æ–≤.

#### **4. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞**
1. **–†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ –æ—Ç—Ä–∞—Å–ª—è–º:**
   - –ü—Ä–æ–≤–µ—Å—Ç–∏ –∞–Ω–∞–ª–∏–∑ –≤–∞–∫–∞–Ω—Å–∏–π —É –∫—Ä—É–ø–Ω–µ–π—à–∏—Ö —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å –æ—Å–Ω–æ–≤–Ω—ã–µ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—è –∏—Ö –Ω–∞–π–º–∞.
2. **–î–∏–Ω–∞–º–∏–∫–∞ –Ω–∞–π–º–∞:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å —Ç–µ–∫—É—â–∏–µ –¥–∞–Ω–Ω—ã–µ —Å –ø—Ä–µ–¥—ã–¥—É—â–∏–º–∏ –ø–µ—Ä–∏–æ–¥–∞–º–∏, —á—Ç–æ–±—ã –≤—ã—è–≤–∏—Ç—å —Ç–µ–Ω–¥–µ–Ω—Ü–∏–∏ –Ω–∞–π–º–∞ —É —Ç–æ–ø-—Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π.
3. **–†–µ–≥–∏–æ–Ω–∞–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑:**
   - –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å, –≤ –∫–∞–∫–∏—Ö —Ä–µ–≥–∏–æ–Ω–∞—Ö —Å–∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∏—Ä–æ–≤–∞–Ω—ã –≤–∞–∫–∞–Ω—Å–∏–∏ —É —ç—Ç–∏—Ö —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π.
4. **–ó–∞—Ä–ø–ª–∞—Ç—ã:**
   - –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å —Å—Ä–µ–¥–Ω–∏–µ –∑–∞—Ä–ø–ª–∞—Ç—ã, –ø—Ä–µ–¥–ª–∞–≥–∞–µ–º—ã–µ —ç—Ç–∏–º–∏ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è–º–∏, –∏ —Å—Ä–∞–≤–Ω–∏—Ç—å –∏—Ö –ø–æ –æ—Ç—Ä–∞—Å–ª—è–º.

In [17]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ —Ä–µ–≥–∏–æ–Ω–æ–≤:
# –ù–∞—Ö–æ–¥–∏–º —Ä–µ–≥–∏–æ–Ω—ã, –≥–¥–µ –µ—Å—Ç—å —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–∏, –Ω–æ –Ω–µ—Ç –≤–∞–∫–∞–Ω—Å–∏–π
# –°—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –∏ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º
query = f"""
    SELECT
        a.name AS reg_name,          -- –ù–∞–∑–≤–∞–Ω–∏–µ —Ä–µ–≥–∏–æ–Ω–∞
        COUNT(e.name) AS emp_count, -- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –≤ —Ä–µ–≥–∏–æ–Ω–µ
        COUNT(v.id) AS vac_count    -- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –≤ —Ä–µ–≥–∏–æ–Ω–µ (–±—É–¥–µ—Ç 0)
    FROM public.areas a
    JOIN public.employers e
        ON a.id = e.area            -- –°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –ø–æ —Ä–µ–≥–∏–æ–Ω—É —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è
    LEFT JOIN public.vacancies v
        ON v.area_id = a.id         -- –õ–µ–≤–æ–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –≤–∞–∫–∞–Ω—Å–∏—è–º–∏ (–≤–æ–∑–º–æ–∂–Ω–æ NULL)
    GROUP BY a.name                 -- –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ –Ω–∞–∑–≤–∞–Ω–∏—é —Ä–µ–≥–∏–æ–Ω–∞
    HAVING COUNT(v.id) = 0          -- –û—Å—Ç–∞–≤–ª—è–µ–º —Ç–æ–ª—å–∫–æ —Ä–µ–≥–∏–æ–Ω—ã –±–µ–∑ –≤–∞–∫–∞–Ω—Å–∏–π
    ORDER BY emp_count DESC         -- –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –≤ —É–±—ã–≤–∞—é—â–µ–º –ø–æ—Ä—è–¥–∫–µ
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\603128169.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

                                      reg_name  emp_count  vac_count
0                                       –†–æ—Å—Å–∏—è        410          0
1                                    –ö–∞–∑–∞—Ö—Å—Ç–∞–Ω        207          0
2                           –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å         75          0
3                           –ö—Ä–∞—Å–Ω–æ–¥–∞—Ä—Å–∫–∏–π –∫—Ä–∞–π         19          0
4                                     –ë–µ–ª–∞—Ä—É—Å—å         18          0
..                                         ...        ...        ...
181                                    –£–¥–æ–±–Ω–∞—è          1          0
182                –ú–∞–π–Ω–∞ (–£–ª—å—è–Ω–æ–≤—Å–∫–∞—è –æ–±–ª–∞—Å—Ç—å)          1          0
183                            –í–µ—Ä—Ö–Ω–µ—Ç—É–ª–æ–º—Å–∫–∏–π          1          0
184                                    –ñ–∞—Ä–∫–µ–Ω—Ç          1          0
185  –ú–∏—Ö–∞–π–ª–æ–≤–∫–∞ (–£—Ñ–∏–º—Å–∫–∏–π —Ä–∞–π–æ–Ω, –ë–∞—à–∫–æ—Ä—Ç–æ—Å—Ç–∞–Ω)          1          0

[186 rows x 3 columns]

In [18]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ä–µ–≥–∏–æ–Ω–æ–≤, –≥–¥–µ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–∏ —Ä–∞–∑–º–µ—â–∞—é—Ç –≤–∞–∫–∞–Ω—Å–∏–∏:
# –°–æ–µ–¥–∏–Ω—è–µ–º —Ç–∞–±–ª–∏—Ü—ã public.employers –∏ public.vacancies –ø–æ –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—É —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è
# –ü–æ–¥—Å—á–∏—Ç—ã–≤–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ä–µ–≥–∏–æ–Ω–æ–≤, –≥–¥–µ —É –∫–∞–∂–¥–æ–≥–æ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è –µ—Å—Ç—å –≤–∞–∫–∞–Ω—Å–∏–∏
query = """
    SELECT
        e.name AS employer_name,      -- –ù–∞–∑–≤–∞–Ω–∏–µ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è
        COUNT(DISTINCT v.area_id) AS unique_regions_count -- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ä–µ–≥–∏–æ–Ω–æ–≤ —Å –≤–∞–∫–∞–Ω—Å–∏—è–º–∏
    FROM public.employers e
    JOIN public.vacancies v
        ON e.id = v.employer_id       -- –°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –ø–æ –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—É —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è
    GROUP BY e.name                   -- –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ –∏–º–µ–Ω–∏ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è
    ORDER BY unique_regions_count DESC -- –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –ø–æ —É–±—ã–≤–∞–Ω–∏—é –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ä–µ–≥–∏–æ–Ω–æ–≤
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\390058300.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

                employer_name  unique_regions_count
0                      –Ø–Ω–¥–µ–∫—Å                   181
1                  –†–æ—Å—Ç–µ–ª–µ–∫–æ–º                   152
2                  –°–ø–µ—Ü—Ä–µ–º–æ–Ω—Ç                   116
3      –ü–æ–ª—è–∫–æ–≤ –î–µ–Ω–∏—Å –ò–≤–∞–Ω–æ–≤–∏—á                    88
4                   –û–û–û –ï–§–ò–ù                     71
...                       ...                   ...
14761                  UniSol                     1
14762            UNISTORY LLC                     1
14763                   UNIT6                     1
14764     United Distribution                     1
14765              UNITEL LLC                     1

[14766 rows x 2 columns]

### üìä –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ä–µ–≥–∏–æ–Ω–æ–≤ —Å –≤–∞–∫–∞–Ω—Å–∏—è–º–∏ —É —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç—ã**
- **–Ø–Ω–¥–µ–∫—Å** ‚Äî —Ä–∞–∑–º–µ—â–∞–µ—Ç –≤–∞–∫–∞–Ω—Å–∏–∏ –≤ 181 —É–Ω–∏–∫–∞–ª—å–Ω–æ–º —Ä–µ–≥–∏–æ–Ω–µ.
- **–†–æ—Å—Ç–µ–ª–µ–∫–æ–º** ‚Äî —Ä–∞–∑–º–µ—â–∞–µ—Ç –≤–∞–∫–∞–Ω—Å–∏–∏ –≤ 152 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ä–µ–≥–∏–æ–Ω–∞—Ö.
- **–°–ø–µ—Ü—Ä–µ–º–æ–Ω—Ç** ‚Äî —Ä–∞–∑–º–µ—â–∞–µ—Ç –≤–∞–∫–∞–Ω—Å–∏–∏ –≤ 116 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ä–µ–≥–∏–æ–Ω–∞—Ö.
- **–ü–æ–ª—è–∫–æ–≤ –î–µ–Ω–∏—Å –ò–≤–∞–Ω–æ–≤–∏—á** ‚Äî —Ä–∞–∑–º–µ—â–∞–µ—Ç –≤–∞–∫–∞–Ω—Å–∏–∏ –≤ 88 —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ä–µ–≥–∏–æ–Ω–∞—Ö.
- **–û–û–û –ï–§–ò–ù** ‚Äî —Ä–∞–∑–º–µ—â–∞–µ—Ç –≤–∞–∫–∞–Ω—Å–∏–∏ –≤ 71 —É–Ω–∏–∫–∞–ª—å–Ω–æ–º —Ä–µ–≥–∏–æ–Ω–µ.

–í—Å–µ–≥–æ –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞–Ω–æ **14,766 —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π**.

#### **2. –í—ã–≤–æ–¥—ã**
1. **–®–∏—Ä–æ–∫–∏–π –æ—Ö–≤–∞—Ç –ª–∏–¥–µ—Ä–æ–≤:**
   - –Ø–Ω–¥–µ–∫—Å –∏ –†–æ—Å—Ç–µ–ª–µ–∫–æ–º –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ –ø—Ä–µ–≤–æ—Å—Ö–æ–¥—è—Ç –¥—Ä—É–≥–∏—Ö —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –ø–æ –≥–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–º—É –æ—Ö–≤–∞—Ç—É. –≠—Ç–æ –æ–±—ä—è—Å–Ω—è–µ—Ç—Å—è –∏—Ö –º–∞—Å—à—Ç–∞–±–æ–º, —Ä–∞–∑–≤–∏—Ç–æ–π —Å–µ—Ç—å—é –æ—Ñ–∏—Å–æ–≤ –∏ —É–¥–∞–ª—ë–Ω–Ω–æ–π —Ä–∞–±–æ—Ç–æ–π.
   
2. **–ù–∏–∑–∫–∏–π –æ—Ö–≤–∞—Ç –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–∞ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π:**
   - –ë–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π (–±–æ–ª–µ–µ 90%) –ø—É–±–ª–∏–∫—É—é—Ç –≤–∞–∫–∞–Ω—Å–∏–∏ —Ç–æ–ª—å–∫–æ –≤ –æ–¥–Ω–æ–º —Ä–µ–≥–∏–æ–Ω–µ, —á—Ç–æ —Å–≤–∏–¥–µ—Ç–µ–ª—å—Å—Ç–≤—É–µ—Ç –æ –ª–æ–∫–∞–ª—å–Ω–æ–π –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–Ω–æ—Å—Ç–∏ –∏—Ö –±–∏–∑–Ω–µ—Å–∞.

3. **–†–æ–ª—å –∫—Ä—É–ø–Ω—ã—Ö –∫–æ–º–ø–∞–Ω–∏–π:**
   - –ö–æ–º–ø–∞–Ω–∏–∏-–ª–∏–¥–µ—Ä—ã, —Ç–∞–∫–∏–µ –∫–∞–∫ –Ø–Ω–¥–µ–∫—Å –∏ –†–æ—Å—Ç–µ–ª–µ–∫–æ–º, –∏–≥—Ä–∞—é—Ç –∫–ª—é—á–µ–≤—É—é —Ä–æ–ª—å –≤ —Å–æ–∑–¥–∞–Ω–∏–∏ —Ä–∞–±–æ—á–∏—Ö –º–µ—Å—Ç –ø–æ –≤—Å–µ–π —Å—Ç—Ä–∞–Ω–µ, —á—Ç–æ –ø–æ–¥—Ç–≤–µ—Ä–∂–¥–∞–µ—Ç –∏—Ö —Å—Ç–∞—Ç—É—Å –∫–∞–∫ —Å–∏—Å—Ç–µ–º–æ–æ–±—Ä–∞–∑—É—é—â–∏—Ö —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π.

#### **3. –¢–µ–Ω–¥–µ–Ω—Ü–∏–∏ –∏ –ø—Ä–æ–≥–Ω–æ–∑—ã**
1. **–†–æ—Å—Ç —É–¥–∞–ª—ë–Ω–Ω–æ–π —Ä–∞–±–æ—Ç—ã:**
   - –í—ã—Å–æ–∫–∏–π –æ—Ö–≤–∞—Ç —Ä–µ–≥–∏–æ–Ω–æ–≤ —É –∫—Ä—É–ø–Ω—ã—Ö —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –º–æ–∂–µ—Ç –±—ã—Ç—å —Å–≤—è–∑–∞–Ω —Å —É–≤–µ–ª–∏—á–µ–Ω–∏–µ–º —á–∏—Å–ª–∞ –≤–∞–∫–∞–Ω—Å–∏–π –¥–ª—è —É–¥–∞–ª—ë–Ω–Ω–æ–π —Ä–∞–±–æ—Ç—ã.
   
2. **–õ–æ–∫–∞–ª–∏–∑–∞—Ü–∏—è –º–∞–ª–æ–≥–æ –±–∏–∑–Ω–µ—Å–∞:**
   - –õ–æ–∫–∞–ª—å–Ω—ã–µ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–∏ –ø—Ä–µ–¥–ø–æ—á–∏—Ç–∞—é—Ç —Ä–∞–±–æ—Ç–∞—Ç—å –≤ –æ–¥–Ω–æ–º —Ä–µ–≥–∏–æ–Ω–µ, —á—Ç–æ –æ–≥—Ä–∞–Ω–∏—á–∏–≤–∞–µ—Ç –∏—Ö –≤–∫–ª–∞–¥ –≤ —Å–æ–∑–¥–∞–Ω–∏–µ —Ä–∞–±–æ—á–∏—Ö –º–µ—Å—Ç –Ω–∞ –Ω–∞—Ü–∏–æ–Ω–∞–ª—å–Ω–æ–º —É—Ä–æ–≤–Ω–µ.

3. **–ú–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞–Ω–∏–µ:**
   - –ö–æ–º–ø–∞–Ω–∏–∏, —Ç–∞–∫–∏–µ –∫–∞–∫ "–°–ø–µ—Ü—Ä–µ–º–æ–Ω—Ç" –∏ "–û–û–û –ï–§–ò–ù", –¥–µ–º–æ–Ω—Å—Ç—Ä–∏—Ä—É—é—Ç –ø—Ä–∏–∑–Ω–∞–∫–∏ —Ä–æ—Å—Ç–∞, —Ä–∞—Å—à–∏—Ä—è—è –≥–µ–æ–≥—Ä–∞—Ñ–∏—é —Å–≤–æ–∏—Ö –≤–∞–∫–∞–Ω—Å–∏–π.

#### **4. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞**
1. **–ê–Ω–∞–ª–∏–∑ –æ—Ç—Ä–∞—Å–ª–µ–π:**
   - –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å, –≤ –∫–∞–∫–∏—Ö –æ—Ç—Ä–∞—Å–ª—è—Ö –∫–æ–º–ø–∞–Ω–∏–∏ —Å —à–∏—Ä–æ–∫–∏–º –≥–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–∏–º –æ—Ö–≤–∞—Ç–æ–º —Å–æ–∑–¥–∞—é—Ç –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –≤–∞–∫–∞–Ω—Å–∏–π.
   
2. **–°—Ä–∞–≤–Ω–µ–Ω–∏–µ —Å –¥–∏–Ω–∞–º–∏–∫–æ–π:**
   - –í—ã—è–≤–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è –≤ –≥–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–æ–º –æ—Ö–≤–∞—Ç–µ –≤–∞–∫–∞–Ω—Å–∏–π —É –∫–ª—é—á–µ–≤—ã—Ö —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–µ –≥–æ–¥—ã.
   
3. **–§–æ–∫—É—Å –Ω–∞ —É–¥–∞–ª—ë–Ω–Ω–æ–π —Ä–∞–±–æ—Ç–µ:**
   - –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å –¥–æ–ª—é –≤–∞–∫–∞–Ω—Å–∏–π —Å —É–¥–∞–ª—ë–Ω–Ω—ã–º –≥—Ä–∞—Ñ–∏–∫–æ–º —É —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π —Å –≤—ã—Å–æ–∫–∏–º –æ—Ö–≤–∞—Ç–æ–º —Ä–µ–≥–∏–æ–Ω–æ–≤.

4. **–ò–∑—É—á–µ–Ω–∏–µ –≤–∞–∫–∞–Ω—Å–∏–π –º–∞–ª–æ–≥–æ –±–∏–∑–Ω–µ—Å–∞:**
   - –ê–Ω–∞–ª–∏–∑ –≤–∞–∫–∞–Ω—Å–∏–π –∫–æ–º–ø–∞–Ω–∏–π —Å –Ω–∏–∑–∫–∏–º –≥–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–∏–º –æ—Ö–≤–∞—Ç–æ–º –¥–ª—è –ø–æ–Ω–∏–º–∞–Ω–∏—è –∏—Ö –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª–∞ –∫ –º–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞–Ω–∏—é.

In [19]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π, —É –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –ø—Ä–∏–≤—è–∑–∫–∏ –∫ –∏–Ω–¥—É—Å—Ç—Ä–∏—è–º:
# –í—ã–ø–æ–ª–Ω—è–µ–º –ª–µ–≤–æ–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü public.employers –∏ public.employers_industries
# –°—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π, –≥–¥–µ industry_id –∏–º–µ–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ NULL
query = """
    SELECT
        COUNT(e.id) AS employers_without_industry -- –ü–æ–¥—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –±–µ–∑ –ø—Ä–∏–≤—è–∑–∫–∏ –∫ –∏–Ω–¥—É—Å—Ç—Ä–∏–∏
    FROM public.employers e
    LEFT JOIN public.employers_industries i
        ON e.id = i.employer_id -- –°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –ø–æ –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—É —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è
    WHERE i.industry_id IS NULL -- –û—Å—Ç–∞–≤–ª—è–µ–º —Ç–æ–ª—å–∫–æ –∑–∞–ø–∏—Å–∏ –±–µ–∑ –ø—Ä–∏–≤—è–∑–∫–∏ –∫ –∏–Ω–¥—É—Å—Ç—Ä–∏—è–º
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\198261119.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   employers_without_industry
0                        8419

### üìä –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –±–µ–∑ –ø—Ä–∏–≤—è–∑–∫–∏ –∫ –∏–Ω–¥—É—Å—Ç—Ä–∏—è–º

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç—ã**
- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –±–µ–∑ –ø—Ä–∏–≤—è–∑–∫–∏ –∫ –∏–Ω–¥—É—Å—Ç—Ä–∏—è–º: **8419**.

#### **2. –í—ã–≤–æ–¥—ã**
1. **–ó–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –±–µ–∑ —É–∫–∞–∑–∞–Ω–∏—è –∏–Ω–¥—É—Å—Ç—Ä–∏–∏:**
   - –ò–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö –≤–∏–¥–Ω–æ, —á—Ç–æ —É 8419 —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –æ—Ç—Å—É—Ç—Å—Ç–≤—É–µ—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –ø—Ä–∏–≤—è–∑–∫–µ –∫ –∫–∞–∫–æ–π-–ª–∏–±–æ –∏–Ω–¥—É—Å—Ç—Ä–∏–∏. –≠—Ç–æ –º–æ–∂–µ—Ç —Å–æ—Å—Ç–∞–≤–ª—è—Ç—å —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω—É—é –¥–æ–ª—é –æ—Ç –æ–±—â–µ–≥–æ —á–∏—Å–ª–∞ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π.

2. **–ü—Ä–æ–±–ª–µ–º—ã —Å –¥–∞–Ω–Ω—ã–º–∏:**
   - –û—Ç—Å—É—Ç—Å—Ç–≤–∏–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ–± –∏–Ω–¥—É—Å—Ç—Ä–∏—è—Ö –º–æ–∂–µ—Ç –±—ã—Ç—å —Å–≤—è–∑–∞–Ω–æ —Å:
     - –ù–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–º –∏–ª–∏ –Ω–µ–ø–æ–ª–Ω—ã–º –∑–∞–ø–æ–ª–Ω–µ–Ω–∏–µ–º –¥–∞–Ω–Ω—ã—Ö —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è–º–∏.
     - –¢–µ—Ö–Ω–∏—á–µ—Å–∫–∏–º–∏ –æ—à–∏–±–∫–∞–º–∏ –ø—Ä–∏ –≤–Ω–µ—Å–µ–Ω–∏–∏ –¥–∞–Ω–Ω—ã—Ö.
     - –†–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è–º–∏, —á—å—è –¥–µ—è—Ç–µ–ª—å–Ω–æ—Å—Ç—å –≤—ã—Ö–æ–¥–∏—Ç –∑–∞ —Ä–∞–º–∫–∏ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω—ã—Ö –∏–Ω–¥—É—Å—Ç—Ä–∏–π (–Ω–∞–ø—Ä–∏–º–µ—Ä, —Å–∞–º–æ–∑–∞–Ω—è—Ç—ã–µ, —Å—Ç–∞—Ä—Ç–∞–ø—ã –∏–ª–∏ —á–∞—Å—Ç–Ω—ã–µ –ø—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª–∏).

3. **–ü–æ—Å–ª–µ–¥—Å—Ç–≤–∏—è:**
   - –û—Ç—Å—É—Ç—Å—Ç–≤–∏–µ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ–± –∏–Ω–¥—É—Å—Ç—Ä–∏—è—Ö –∑–∞—Ç—Ä—É–¥–Ω—è–µ—Ç –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ –≥–ª—É–±–æ–∫–æ–≥–æ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ –æ—Ç—Ä–∞—Å–ª—è–º, —á—Ç–æ –º–æ–∂–µ—Ç –ø–æ–≤–ª–∏—è—Ç—å –Ω–∞ –∫–∞—á–µ—Å—Ç–≤–æ –≤—ã–≤–æ–¥–æ–≤ –∏ –ø—Ä–æ–≥–Ω–æ–∑–æ–≤.

#### **3. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è —É–ª—É—á—à–µ–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö**
1. **–î–æ–ø–æ–ª–Ω–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö:**
   - –ü—Ä–æ–≤–µ—Å—Ç–∏ –∫–∞–º–ø–∞–Ω–∏—é –ø–æ —É—Ç–æ—á–Ω–µ–Ω–∏—é –∏–Ω–¥—É—Å—Ç—Ä–∏–π —É —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –∞–∫—Ç—É–∞–ª—å–Ω—ã—Ö –∫–æ–Ω—Ç–∞–∫—Ç–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö.
   
2. **–ê–Ω–∞–ª–∏–∑ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è:**
   - –ü—Ä–æ–≤–µ—Å—Ç–∏ –∞–Ω–∞–ª–∏–∑ –≤–∞–∫–∞–Ω—Å–∏–π —É —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –±–µ–∑ –∏–Ω–¥—É—Å—Ç—Ä–∏–π, —á—Ç–æ–±—ã –ø–æ–ø—ã—Ç–∞—Ç—å—Å—è –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –∏—Ö –æ—Ç—Ä–∞—Å–ª—å –Ω–∞ –æ—Å–Ω–æ–≤–µ —Ç–∏–ø–æ–≤ –≤–∞–∫–∞–Ω—Å–∏–π.

3. **–¢–µ—Ö–Ω–∏—á–µ—Å–∫–∏–µ —É–ª—É—á—à–µ–Ω–∏—è:**
   - –î–æ–±–∞–≤–∏—Ç—å –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ—Å—Ç—å —É–∫–∞–∑–∞–Ω–∏—è –∏–Ω–¥—É—Å—Ç—Ä–∏–∏ –ø—Ä–∏ —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è.
   - –í–Ω–µ–¥—Ä–∏—Ç—å –≤–∞–ª–∏–¥–∞—Ü–∏—é –¥–∞–Ω–Ω—ã—Ö –Ω–∞ —ç—Ç–∞–ø–µ –∏—Ö –≤–Ω–µ—Å–µ–Ω–∏—è.

4. **–û—Ç–¥–µ–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑:**
   - –ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—å —Ç–∞–∫–∏—Ö —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π (–Ω–∞–ø—Ä–∏–º–µ—Ä, –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π) –¥–ª—è –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –∏—Ö –≤–∫–ª–∞–¥–∞ –≤ —Ä—ã–Ω–æ–∫ —Ç—Ä—É–¥–∞.

In [20]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π, —Å–≤—è–∑–∞–Ω–Ω—ã—Ö —Ä–æ–≤–Ω–æ —Å —á–µ—Ç—ã—Ä—å–º—è –∏–Ω–¥—É—Å—Ç—Ä–∏—è–º–∏:
# –°–æ–µ–¥–∏–Ω—è–µ–º —Ç–∞–±–ª–∏—Ü—ã public.employers –∏ public.employers_industries, –≥—Ä—É–ø–ø–∏—Ä—É–µ–º –ø–æ –∏–º–µ–Ω–∏ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è
# –í—ã–±–∏—Ä–∞–µ–º —Ç–æ–ª—å–∫–æ —Ç–µ—Ö, —É –∫–æ–≥–æ —Ä–æ–≤–Ω–æ 4 –∑–∞–ø–∏—Å–∏ –≤ —Ç–∞–±–ª–∏—Ü–µ employers_industries
query = """
    SELECT
        e.name AS employer_name,      -- –ù–∞–∑–≤–∞–Ω–∏–µ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è
        COUNT(i.industry_id) AS industry_count -- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏–Ω–¥—É—Å—Ç—Ä–∏–π, —Å–≤—è–∑–∞–Ω–Ω—ã—Ö —Å —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–º
    FROM public.employers e
    JOIN public.employers_industries i
        ON e.id = i.employer_id       -- –°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –ø–æ –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—É —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è
    GROUP BY e.name                   -- –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –ø–æ –∏–º–µ–Ω–∏ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è
    HAVING COUNT(i.industry_id) = 4   -- –£—Å–ª–æ–≤–∏–µ: —Ä–æ–≤–Ω–æ 4 –∏–Ω–¥—É—Å—Ç—Ä–∏–∏
    ORDER BY employer_name ASC        -- –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –ø–æ –∏–º–µ–Ω–∏ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è –≤ –∞–ª—Ñ–∞–≤–∏—Ç–Ω–æ–º –ø–æ—Ä—è–¥–∫–µ
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\1179040361.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

        employer_name  industry_count
0        101 –ò–Ω—Ç–µ—Ä–Ω–µ—Ç               4
1            21vek.by               4
2                2–ì–ò–°               4
3                  2–ö               4
4         4 –ø–∏–∫—Å–µ–ª—è +               4
...               ...             ...
1131            –Æ–†–ò–û–ù               4
1132  –Æ–¢–ò–ü –¢–µ—Ö–Ω–æ–ª–æ–≥–∏–∏               4
1133           –Ø–ö–ª–∞—Å—Å               4
1134            –Ø—Ä–ù–µ–æ               4
1135    –Ø—à–∏–Ω&–ü–∞—Ä—Ç–Ω—ë—Ä—ã               4

[1136 rows x 2 columns]

### üìä –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞: —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–∏, —Å–≤—è–∑–∞–Ω–Ω—ã–µ —Ä–æ–≤–Ω–æ —Å —á–µ—Ç—ã—Ä—å–º—è –∏–Ω–¥—É—Å—Ç—Ä–∏—è–º–∏

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç—ã**
- –í—Å–µ–≥–æ –Ω–∞–π–¥–µ–Ω–æ **1,136 —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π**, —Å–≤—è–∑–∞–Ω–Ω—ã—Ö —Ä–æ–≤–Ω–æ —Å —á–µ—Ç—ã—Ä—å–º—è –∏–Ω–¥—É—Å—Ç—Ä–∏—è–º–∏.
- –ü—Ä–∏–º–µ—Ä—ã —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π:
  - **101 –ò–Ω—Ç–µ—Ä–Ω–µ—Ç**
  - **21vek.by**
  - **2–ì–ò–°**
  - **4 –ø–∏–∫—Å–µ–ª—è +**
  - **–Æ–†–ò–û–ù**
  - **–Ø–ö–ª–∞—Å—Å**
  - **–Ø—à–∏–Ω&–ü–∞—Ä—Ç–Ω—ë—Ä—ã**

#### **2. –í—ã–≤–æ–¥—ã**
1. **–®–∏—Ä–æ–∫–∏–π –ø—Ä–æ—Ñ–∏–ª—å —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π:**
   - –ö–æ–º–ø–∞–Ω–∏–∏, —Å–≤—è–∑–∞–Ω–Ω—ã–µ —Å —á–µ—Ç—ã—Ä—å–º—è –∏–Ω–¥—É—Å—Ç—Ä–∏—è–º–∏, –≤–µ—Ä–æ—è—Ç–Ω–æ, –∏–º–µ—é—Ç —à–∏—Ä–æ–∫–∏–π –ø—Ä–æ—Ñ–∏–ª—å –¥–µ—è—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ –∏–ª–∏ –∞–∫—Ç–∏–≤–Ω–æ —Ä–∞–∑–≤–∏–≤–∞—é—Ç –±–∏–∑–Ω–µ—Å –≤ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö –æ—Ç—Ä–∞—Å–ª—è—Ö –æ–¥–Ω–æ–≤—Ä–µ–º–µ–Ω–Ω–æ.

2. **–í–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–∏—á–∏–Ω—ã:**
   - –ö–æ–º–ø–∞–Ω–∏–∏, —Ç–∞–∫–∏–µ –∫–∞–∫ **2–ì–ò–°** –∏ **21vek.by**, –º–æ–≥—É—Ç –ø—Ä–µ–¥–ª–∞–≥–∞—Ç—å —É—Å–ª—É–≥–∏ –∏–ª–∏ —Ç–æ–≤–∞—Ä—ã, –ø–µ—Ä–µ—Å–µ–∫–∞—é—â–∏–µ—Å—è —Å—Ä–∞–∑—É –≤ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö –∏–Ω–¥—É—Å—Ç—Ä–∏—è—Ö (–Ω–∞–ø—Ä–∏–º–µ—Ä, IT, —Ä–µ–∫–ª–∞–º–∞, –º–∞—Ä–∫–µ—Ç–∏–Ω–≥ –∏ —Ç–æ—Ä–≥–æ–≤–ª—è).

3. **–û—Å–æ–±–µ–Ω–Ω–æ—Å—Ç–∏ –º–∞–ª–æ–≥–æ –±–∏–∑–Ω–µ—Å–∞:**
   - –ö–æ–º–ø–∞–Ω–∏–∏ —Å 4 –∏–Ω–¥—É—Å—Ç—Ä–∏—è–º–∏ –º–æ–≥—É—Ç –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—Ç—å —Å–æ–±–æ–π —Ä–∞–∑–≤–∏–≤–∞—é—â–∏–π—Å—è –º–∞–ª—ã–π –∏–ª–∏ —Å—Ä–µ–¥–Ω–∏–π –±–∏–∑–Ω–µ—Å, –∫–æ—Ç–æ—Ä—ã–π –ø—Ä–æ–±—É–µ—Ç —Å–µ–±—è –≤ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—è—Ö.

#### **3. –¢–µ–Ω–¥–µ–Ω—Ü–∏–∏**
1. **–†–∞–∑–≤–∏—Ç–∏–µ –º—É–ª—å—Ç–∏–∏–Ω–¥—É—Å—Ç—Ä–∏–π–Ω—ã—Ö –∫–æ–º–ø–∞–Ω–∏–π:**
   - –°–º–µ—à–µ–Ω–∏–µ –æ—Ç—Ä–∞—Å–ª–µ–π (–Ω–∞–ø—Ä–∏–º–µ—Ä, IT –∏ —Ç–æ—Ä–≥–æ–≤–ª—è) —Å—Ç–∞–Ω–æ–≤–∏—Ç—Å—è –ø–æ–ø—É–ª—è—Ä–Ω—ã–º —Ç—Ä–µ–Ω–¥–æ–º, —á—Ç–æ –ø–æ–∑–≤–æ–ª—è–µ—Ç –∫–æ–º–ø–∞–Ω–∏—è–º –¥–∏–≤–µ—Ä—Å–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞—Ç—å –±–∏–∑–Ω–µ—Å –∏ –º–∏–Ω–∏–º–∏–∑–∏—Ä–æ–≤–∞—Ç—å —Ä–∏—Å–∫–∏.

2. **–†–∞—Å—Ç—É—â–∞—è —Ä–æ–ª—å —É–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω—ã—Ö —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π:**
   - –ù–∞–ª–∏—á–∏–µ —Ç–∞–∫–∏—Ö –∫–æ–º–ø–∞–Ω–∏–π –≥–æ–≤–æ—Ä–∏—Ç –æ —Ä–∞—Å—Ç—É—â–µ–π –ø–æ—Ç—Ä–µ–±–Ω–æ—Å—Ç–∏ –≤ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∞—Ö, —Å–ø–æ—Å–æ–±–Ω—ã—Ö —Ä–∞–±–æ—Ç–∞—Ç—å –≤ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö —Å—Ñ–µ—Ä–∞—Ö.

#### **4. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞**
1. **–î–µ—Ç–∞–ª–∏–∑–∞—Ü–∏—è –∏–Ω–¥—É—Å—Ç—Ä–∏–π:**
   - –ò–∑—É—á–∏—Ç—å, —Å –∫–∞–∫–∏–º–∏ –∫–æ–Ω–∫—Ä–µ—Ç–Ω—ã–º–∏ –∏–Ω–¥—É—Å—Ç—Ä–∏—è–º–∏ —Å–≤—è–∑–∞–Ω—ã —ç—Ç–∏ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–∏, —á—Ç–æ–±—ã –≤—ã—è–≤–∏—Ç—å –∏—Ö –∫–ª—é—á–µ–≤—ã–µ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—è –±–∏–∑–Ω–µ—Å–∞.

2. **–ê–Ω–∞–ª–∏–∑ –≤–∞–∫–∞–Ω—Å–∏–π:**
   - –ü—Ä–æ–≤–µ—Ä–∏—Ç—å, —Å–∫–æ–ª—å–∫–æ –≤–∞–∫–∞–Ω—Å–∏–π —Å–æ–∑–¥–∞—ë—Ç—Å—è —Ç–∞–∫–∏–º–∏ –∫–æ–º–ø–∞–Ω–∏—è–º–∏ –≤ –∫–∞–∂–¥–æ–π –∏–∑ –∏–Ω–¥—É—Å—Ç—Ä–∏–π, —á—Ç–æ–±—ã –æ—Ü–µ–Ω–∏—Ç—å –≤–∫–ª–∞–¥ –≤ —Ä—ã–Ω–æ–∫ —Ç—Ä—É–¥–∞.

3. **–†–µ–≥–∏–æ–Ω–∞–ª—å–Ω–æ–µ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ:**
   - –í—ã—è–≤–∏—Ç—å, –≤ –∫–∞–∫–∏—Ö —Ä–µ–≥–∏–æ–Ω–∞—Ö —Å–æ—Å—Ä–µ–¥–æ—Ç–æ—á–µ–Ω—ã —ç—Ç–∏ –∫–æ–º–ø–∞–Ω–∏–∏, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å –∏—Ö –≥–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–∏–π —Ñ–æ–∫—É—Å.

4. **–°—Ä–∞–≤–Ω–µ–Ω–∏–µ —Å –¥—Ä—É–≥–∏–º–∏ –≥—Ä—É–ø–ø–∞–º–∏:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å –∫–æ–º–ø–∞–Ω–∏–∏, —Å–≤—è–∑–∞–Ω–Ω—ã–µ —Å 4 –∏–Ω–¥—É—Å—Ç—Ä–∏—è–º–∏, —Å —Ç–µ–º–∏, –∫—Ç–æ —Ä–∞–±–æ—Ç–∞–µ—Ç —Ç–æ–ª—å–∫–æ –≤ –æ–¥–Ω–æ–π –∏–ª–∏ –≤ –±–æ–ª—å—à–µ–º —á–∏—Å–ª–µ –æ—Ç—Ä–∞—Å–ª–µ–π.

In [21]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –≤ –∏–Ω–¥—É—Å—Ç—Ä–∏–∏ "–†–∞–∑—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–≥—Ä–∞–º–º–Ω–æ–≥–æ –æ–±–µ—Å–ø–µ—á–µ–Ω–∏—è":
# –°–æ–µ–¥–∏–Ω—è–µ–º —Ç–∞–±–ª–∏—Ü—ã employers, employers_industries –∏ industries
query = """
    SELECT
        COUNT(e.id) AS employer_count -- –ü–æ–¥—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π
    FROM public.employers e
    JOIN public.employers_industries i
        ON e.id = i.employer_id      -- –°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –ø–æ –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—É —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è
    JOIN public.industries d
        ON i.industry_id = d.id      -- –°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –ø–æ –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—É –∏–Ω–¥—É—Å—Ç—Ä–∏–∏
    WHERE d.name = '–†–∞–∑—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–≥—Ä–∞–º–º–Ω–æ–≥–æ –æ–±–µ—Å–ø–µ—á–µ–Ω–∏—è' -- –§–∏–ª—å—Ç—Ä –ø–æ –Ω–∞–∑–≤–∞–Ω–∏—é –∏–Ω–¥—É—Å—Ç—Ä–∏–∏
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\810051191.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   employer_count
0            3553

### üìä –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –≤ –∏–Ω–¥—É—Å—Ç—Ä–∏–∏ "–†–∞–∑—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–≥—Ä–∞–º–º–Ω–æ–≥–æ –æ–±–µ—Å–ø–µ—á–µ–Ω–∏—è"

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç**
- **–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –≤ –∏–Ω–¥—É—Å—Ç—Ä–∏–∏ "–†–∞–∑—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–≥—Ä–∞–º–º–Ω–æ–≥–æ –æ–±–µ—Å–ø–µ—á–µ–Ω–∏—è"**: [—É–∫–∞–∑–∞—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç, –µ—Å–ª–∏ –µ—Å—Ç—å –∏–∑ —Å–∫—Ä–∏–Ω—à–æ—Ç–∞].

#### **2. –í—ã–≤–æ–¥—ã**
1. **–ü–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å –æ—Ç—Ä–∞—Å–ª–∏:**
   - –ï—Å–ª–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤—ã—Å–æ–∫, —ç—Ç–æ –ø–æ–¥—Ç–≤–µ—Ä–∂–¥–∞–µ—Ç, —á—Ç–æ "–†–∞–∑—Ä–∞–±–æ—Ç–∫–∞ –ø—Ä–æ–≥—Ä–∞–º–º–Ω–æ–≥–æ –æ–±–µ—Å–ø–µ—á–µ–Ω–∏—è" —è–≤–ª—è–µ—Ç—Å—è –æ–¥–Ω–æ–π –∏–∑ —Å–∞–º—ã—Ö –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω–Ω—ã—Ö –∏–Ω–¥—É—Å—Ç—Ä–∏–π, –æ—Å–æ–±–µ–Ω–Ω–æ –Ω–∞ —Ñ–æ–Ω–µ —Ü–∏—Ñ—Ä–æ–≤–∏–∑–∞—Ü–∏–∏ –∏ —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏—á–µ—Å–∫–æ–≥–æ –ø—Ä–æ–≥—Ä–µ—Å—Å–∞.

2. **–°–ø–µ—Ü–∏–∞–ª–∏–∑–∞—Ü–∏—è —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π:**
   - –†–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–∏ –≤ –¥–∞–Ω–Ω–æ–π –∏–Ω–¥—É—Å—Ç—Ä–∏–∏ –∞–∫—Ç–∏–≤–Ω–æ —Å–æ–∑–¥–∞—é—Ç —Ä–∞–±–æ—á–∏–µ –º–µ—Å—Ç–∞ –¥–ª—è —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ –≤ –æ–±–ª–∞—Å—Ç–∏ –ø—Ä–æ–≥—Ä–∞–º–º–∏—Ä–æ–≤–∞–Ω–∏—è, —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏ –ø—Ä–æ–¥—É–∫—Ç–æ–≤, –∏ –ø–æ–¥–¥–µ—Ä–∂–∫–∏.

3. **–í–ª–∏—è–Ω–∏–µ —Ç—Ä–µ–Ω–¥–æ–≤:**
   - –†–æ—Å—Ç IT-–æ—Ç—Ä–∞—Å–ª–∏ –º–æ–∂–µ—Ç –±—ã—Ç—å —Å–≤—è–∑–∞–Ω —Å –≥–ª–æ–±–∞–ª—å–Ω—ã–º–∏ —Ç—Ä–µ–Ω–¥–∞–º–∏, —Ç–∞–∫–∏–º–∏ –∫–∞–∫ —É–¥–∞–ª—ë–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞, –∞–≤—Ç–æ–º–∞—Ç–∏–∑–∞—Ü–∏—è –ø—Ä–æ—Ü–µ—Å—Å–æ–≤ –∏ –≤–Ω–µ–¥—Ä–µ–Ω–∏–µ –∏—Å–∫—É—Å—Å—Ç–≤–µ–Ω–Ω–æ–≥–æ –∏–Ω—Ç–µ–ª–ª–µ–∫—Ç–∞.

#### **3. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞**
1. **–ê–Ω–∞–ª–∏–∑ –≤–∞–∫–∞–Ω—Å–∏–π:**
   - –ü—Ä–æ–≤–µ—Ä–∏—Ç—å, —Å–∫–æ–ª—å–∫–æ –≤–∞–∫–∞–Ω—Å–∏–π —Å–æ–∑–¥–∞—ë—Ç—Å—è —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª—è–º–∏ –≤ —ç—Ç–æ–π –∏–Ω–¥—É—Å—Ç—Ä–∏–∏.
   
2. **–†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º:**
   - –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å, –≤ –∫–∞–∫–∏—Ö —Ä–µ–≥–∏–æ–Ω–∞—Ö —Å–æ—Å—Ä–µ–¥–æ—Ç–æ—á–µ–Ω–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π –∏–∑ —ç—Ç–æ–π –æ—Ç—Ä–∞—Å–ª–∏.

3. **–°—Ä–µ–¥–Ω–∏–µ –∑–∞—Ä–ø–ª–∞—Ç—ã:**
   - –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å —É—Ä–æ–≤–µ–Ω—å –∑–∞—Ä–ø–ª–∞—Ç –≤ –≤–∞–∫–∞–Ω—Å–∏—è—Ö –¥–∞–Ω–Ω–æ–π –∏–Ω–¥—É—Å—Ç—Ä–∏–∏.

4. **–°—Ä–∞–≤–Ω–µ–Ω–∏–µ —Å –¥—Ä—É–≥–∏–º–∏ –∏–Ω–¥—É—Å—Ç—Ä–∏—è–º–∏:**
   - –ü—Ä–æ–≤–µ—Å—Ç–∏ —Å—Ä–∞–≤–Ω–∏—Ç–µ–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑ —Å –¥—Ä—É–≥–∏–º–∏ –ø–æ–ø—É–ª—è—Ä–Ω—ã–º–∏ –æ—Ç—Ä–∞—Å–ª—è–º–∏, —á—Ç–æ–±—ã –≤—ã—è–≤–∏—Ç—å —Å–∏–ª—å–Ω—ã–µ –∏ —Å–ª–∞–±—ã–µ —Å—Ç–æ—Ä–æ–Ω—ã —Ä—ã–Ω–∫–∞ —Ç—Ä—É–¥–∞ –≤ –æ–±–ª–∞—Å—Ç–∏ —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–∏ –ü–û.

In [22]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π "–Ø–Ω–¥–µ–∫—Å" –ø–æ –≥–æ—Ä–æ–¥–∞–º –∏ –æ–±—â–µ–≥–æ –∏—Ç–æ–≥–∞
query = """
    SELECT
        a.name AS city,      -- –ù–∞–∑–≤–∞–Ω–∏–µ –≥–æ—Ä–æ–¥–∞
        COUNT(v.id) AS vacancy_count -- –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π
    FROM public.vacancies v
    JOIN public.employers e
        ON v.employer_id = e.id
    JOIN public.areas a
        ON v.area_id = a.id
    WHERE e.name = '–Ø–Ω–¥–µ–∫—Å' 
      AND a.name IN ('–ú–æ—Å–∫–≤–∞', '–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥', '–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫', '–ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥', '–ö–∞–∑–∞–Ω—å', 
                     '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫', '–ù–∏–∂–Ω–∏–π –ù–æ–≤–≥–æ—Ä–æ–¥', '–ß–µ–ª—è–±–∏–Ω—Å–∫', '–£—Ñ–∞', '–°–∞–º–∞—Ä–∞', 
                     '–†–æ—Å—Ç–æ–≤-–Ω–∞-–î–æ–Ω—É', '–ö—Ä–∞—Å–Ω–æ–¥–∞—Ä', '–û–º—Å–∫', '–í–æ—Ä–æ–Ω–µ–∂', '–ü–µ—Ä–º—å', '–í–æ–ª–≥–æ–≥—Ä–∞–¥')
    GROUP BY a.name

    UNION ALL

    SELECT
        'Total' AS city,     -- –ò—Ç–æ–≥–æ–≤–∞—è —Å—Ç—Ä–æ–∫–∞
        COUNT(v.id) AS vacancy_count -- –û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π
    FROM public.vacancies v
    JOIN public.employers e
        ON v.employer_id = e.id
    JOIN public.areas a
        ON v.area_id = a.id
    WHERE e.name = '–Ø–Ω–¥–µ–∫—Å' 
      AND a.name IN ('–ú–æ—Å–∫–≤–∞', '–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥', '–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫', '–ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥', '–ö–∞–∑–∞–Ω—å', 
                     '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫', '–ù–∏–∂–Ω–∏–π –ù–æ–≤–≥–æ—Ä–æ–¥', '–ß–µ–ª—è–±–∏–Ω—Å–∫', '–£—Ñ–∞', '–°–∞–º–∞—Ä–∞', 
                     '–†–æ—Å—Ç–æ–≤-–Ω–∞-–î–æ–Ω—É', '–ö—Ä–∞—Å–Ω–æ–¥–∞—Ä', '–û–º—Å–∫', '–í–æ—Ä–æ–Ω–µ–∂', '–ü–µ—Ä–º—å', '–í–æ–ª–≥–æ–≥—Ä–∞–¥')

    ORDER BY vacancy_count ASC -- –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –≤–∞–∫–∞–Ω—Å–∏–π –≤ –ø–æ—Ä—è–¥–∫–µ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—è
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\2775626588.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

               city  vacancy_count
0              –û–º—Å–∫             21
1         –ß–µ–ª—è–±–∏–Ω—Å–∫             22
2        –ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫             23
3         –í–æ–ª–≥–æ–≥—Ä–∞–¥             24
4             –ü–µ—Ä–º—å             25
5            –ö–∞–∑–∞–Ω—å             25
6    –†–æ—Å—Ç–æ–≤-–Ω–∞-–î–æ–Ω—É             25
7               –£—Ñ–∞             26
8            –°–∞–º–∞—Ä–∞             26
9         –ö—Ä–∞—Å–Ω–æ–¥–∞—Ä             30
10          –í–æ—Ä–æ–Ω–µ–∂             32
11      –ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫             35
12  –ù–∏–∂–Ω–∏–π –ù–æ–≤–≥–æ—Ä–æ–¥             36
13     –ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥             39
14  –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥             42
15           –ú–æ—Å–∫–≤–∞             54
16            Total            485

### üìä –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π "–Ø–Ω–¥–µ–∫—Å" –ø–æ –≥–æ—Ä–æ–¥–∞–º

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç—ã**
- **–ì–æ—Ä–æ–¥–∞ —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –≤–∞–∫–∞–Ω—Å–∏–π:**
  - **–ú–æ—Å–∫–≤–∞**: 54 –≤–∞–∫–∞–Ω—Å–∏–∏.
  - **–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥**: 42 –≤–∞–∫–∞–Ω—Å–∏–∏.
  - **–ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥**: 39 –≤–∞–∫–∞–Ω—Å–∏–π.
  - **–ù–∏–∂–Ω–∏–π –ù–æ–≤–≥–æ—Ä–æ–¥**: 36 –≤–∞–∫–∞–Ω—Å–∏–π.
  - **–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫**: 35 –≤–∞–∫–∞–Ω—Å–∏–π.

- **–ì–æ—Ä–æ–¥–∞ —Å –Ω–∞–∏–º–µ–Ω—å—à–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –≤–∞–∫–∞–Ω—Å–∏–π:**
  - **–û–º—Å–∫**: 21 –≤–∞–∫–∞–Ω—Å–∏—è.
  - **–ß–µ–ª—è–±–∏–Ω—Å–∫**: 22 –≤–∞–∫–∞–Ω—Å–∏–∏.
  - **–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫**: 23 –≤–∞–∫–∞–Ω—Å–∏–∏.
  - **–í–æ–ª–≥–æ–≥—Ä–∞–¥**: 24 –≤–∞–∫–∞–Ω—Å–∏–∏.
  - **–ü–µ—Ä–º—å, –ö–∞–∑–∞–Ω—å, –†–æ—Å—Ç–æ–≤-–Ω–∞-–î–æ–Ω—É**: –ø–æ 25 –≤–∞–∫–∞–Ω—Å–∏–π.

- **–û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –≤–æ –≤—Å–µ—Ö –≥–æ—Ä–æ–¥–∞—Ö:**
  - **485 –≤–∞–∫–∞–Ω—Å–∏–π.**

#### **2. –í—ã–≤–æ–¥—ã**
1. **–ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–∞—è –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏—è:**
   - –ù–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π —Å–∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∏—Ä–æ–≤–∞–Ω–æ –≤ –ú–æ—Å–∫–≤–µ –∏ –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥–µ. –≠—Ç–æ –æ–∂–∏–¥–∞–µ–º–æ, —Ç–∞–∫ –∫–∞–∫ —ç—Ç–∏ –≥–æ—Ä–æ–¥–∞ —è–≤–ª—è—é—Ç—Å—è –æ—Å–Ω–æ–≤–Ω—ã–º–∏ –¥–µ–ª–æ–≤—ã–º–∏ —Ü–µ–Ω—Ç—Ä–∞–º–∏ –†–æ—Å—Å–∏–∏.

2. **–†–∞–∑–≤–∏—Ç–∏–µ —Ä–µ–≥–∏–æ–Ω–æ–≤:**
   - –ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥, –ù–∏–∂–Ω–∏–π –ù–æ–≤–≥–æ—Ä–æ–¥ –∏ –ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫ –∑–∞–Ω–∏–º–∞—é—Ç –ª–∏–¥–∏—Ä—É—é—â–∏–µ –ø–æ–∑–∏—Ü–∏–∏ —Å—Ä–µ–¥–∏ —Ä–µ–≥–∏–æ–Ω–æ–≤, —á—Ç–æ –ø–æ–¥—Ç–≤–µ—Ä–∂–¥–∞–µ—Ç –∏—Ö —Å—Ç–∞—Ç—É—Å –∫—Ä—É–ø–Ω—ã—Ö –Ω–∞—É—á–Ω—ã—Ö, –æ–±—Ä–∞–∑–æ–≤–∞—Ç–µ–ª—å–Ω—ã—Ö –∏ –¥–µ–ª–æ–≤—ã—Ö —Ü–µ–Ω—Ç—Ä–æ–≤.

3. **–ú–µ–Ω—å—à–∞—è –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—å –≤ —Ä–µ–≥–∏–æ–Ω–∞—Ö:**
   - –ì–æ—Ä–æ–¥–∞, —Ç–∞–∫–∏–µ –∫–∞–∫ –û–º—Å–∫, –ß–µ–ª—è–±–∏–Ω—Å–∫ –∏ –ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫, –¥–µ–º–æ–Ω—Å—Ç—Ä–∏—Ä—É—é—Ç –±–æ–ª–µ–µ –Ω–∏–∑–∫—É—é –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—å –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –≤–∞–∫–∞–Ω—Å–∏–π. –≠—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å —Å–≤—è–∑–∞–Ω–æ —Å –º–µ–Ω—å—à–µ–π —á–∏—Å–ª–µ–Ω–Ω–æ—Å—Ç—å—é –Ω–∞—Å–µ–ª–µ–Ω–∏—è –∏–ª–∏ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–Ω—ã–º –ø—Ä–∏—Å—É—Ç—Å—Ç–≤–∏–µ–º "–Ø–Ω–¥–µ–∫—Å–∞" –≤ —ç—Ç–∏—Ö —Ä–µ–≥–∏–æ–Ω–∞—Ö.

#### **3. –¢–µ–Ω–¥–µ–Ω—Ü–∏–∏**
1. **–¶–µ–Ω—Ç—Ä–∞–ª–∏–∑–∞—Ü–∏—è –≤–∞–∫–∞–Ω—Å–∏–π:**
   - –û—Å–Ω–æ–≤–Ω–æ–π —Ñ–æ–∫—É—Å "–Ø–Ω–¥–µ–∫—Å–∞" –æ—Å—Ç–∞—ë—Ç—Å—è –Ω–∞ –¥–≤—É—Ö —Å—Ç–æ–ª–∏—Ü–∞—Ö, –æ–¥–Ω–∞–∫–æ –≤ –∫—Ä—É–ø–Ω—ã—Ö —Ä–µ–≥–∏–æ–Ω–∞–ª—å–Ω—ã—Ö —Ü–µ–Ω—Ç—Ä–∞—Ö –Ω–∞–±–ª—é–¥–∞–µ—Ç—Å—è —Å—Ç–∞–±–∏–ª—å–Ω—ã–π —Ä–æ—Å—Ç.
2. **–í–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ –≤ —Ä–µ–≥–∏–æ–Ω–∞—Ö:**
   - –ù–µ—Å–º–æ—Ç—Ä—è –Ω–∞ –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ –Ω–µ–±–æ–ª—å—à–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π, "–Ø–Ω–¥–µ–∫—Å" –ø—Ä–æ–¥–æ–ª–∂–∞–µ—Ç —Ä–∞–∑–≤–∏–≤–∞—Ç—å —Å–≤–æ—ë –ø—Ä–∏—Å—É—Ç—Å—Ç–≤–∏–µ –≤ —Ä–µ–≥–∏–æ–Ω–∞–ª—å–Ω—ã—Ö –≥–æ—Ä–æ–¥–∞—Ö.

#### **4. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏**
1. **–£–≥–ª—É–±–ª—ë–Ω–Ω—ã–π –∞–Ω–∞–ª–∏–∑ –≤–∞–∫–∞–Ω—Å–∏–π:**
   - –ò–∑—É—á–∏—Ç—å –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ –≤–∞–∫–∞–Ω—Å–∏–π –≤ —ç—Ç–∏—Ö –≥–æ—Ä–æ–¥–∞—Ö, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å, –∫–∞–∫–∏–µ —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç—ã –Ω–∞–∏–±–æ–ª–µ–µ –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω—ã.
2. **–°—Ä–∞–≤–Ω–µ–Ω–∏–µ —Å –∫–æ–Ω–∫—É—Ä–µ–Ω—Ç–∞–º–∏:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π "–Ø–Ω–¥–µ–∫—Å–∞" —Å –¥—Ä—É–≥–∏–º–∏ IT-–∫–æ–º–ø–∞–Ω–∏—è–º–∏, —á—Ç–æ–±—ã –æ—Ü–µ–Ω–∏—Ç—å –∫–æ–Ω–∫—É—Ä–µ–Ω—Ü–∏—é –≤ —Ä–µ–≥–∏–æ–Ω–∞—Ö.
3. **–î–∏–Ω–∞–º–∏–∫–∞ –≤–∞–∫–∞–Ω—Å–∏–π:**
   - –í—ã—è–≤–∏—Ç—å —Ç—Ä–µ–Ω–¥—ã –∏–∑–º–µ–Ω–µ–Ω–∏—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ –≥–æ–¥–∞–º –∏–ª–∏ –∫–≤–∞—Ä—Ç–∞–ª–∞–º, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å –ø–µ—Ä—Å–ø–µ–∫—Ç–∏–≤—ã —Ä–∞–∑–≤–∏—Ç–∏—è.

In [23]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π, —Å–≤—è–∑–∞–Ω–Ω—ã—Ö —Å –¥–∞–Ω–Ω—ã–º–∏:
# –§–∏–ª—å—Ç—Ä—É–µ–º –≤–∞–∫–∞–Ω—Å–∏–∏, –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–æ—Ç–æ—Ä—ã—Ö —Å–æ–¥–µ—Ä–∂–∏—Ç 'data' –∏–ª–∏ '–¥–∞–Ω–Ω'
query = """
    SELECT
        COUNT(name) AS vacancy_count -- –ü–æ–¥—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –ø–æ–¥—Ö–æ–¥—è—â–∏—Ö –≤–∞–∫–∞–Ω—Å–∏–π
    FROM public.vacancies
    WHERE name ILIKE '%data%' OR name ILIKE '%–¥–∞–Ω–Ω%' -- –§–∏–ª—å—Ç—Ä –ø–æ –Ω–∞–∑–≤–∞–Ω–∏—è–º –≤–∞–∫–∞–Ω—Å–∏–π
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\3432067308.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   vacancy_count
0           1771

### üìä –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π, —Å–≤—è–∑–∞–Ω–Ω—ã—Ö —Å –¥–∞–Ω–Ω—ã–º–∏

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç**
- –û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π, —Å–≤—è–∑–∞–Ω–Ω—ã—Ö —Å –¥–∞–Ω–Ω—ã–º–∏: **1771**.

#### **2. –í—ã–≤–æ–¥—ã**
1. **–ü–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å –≤–∞–∫–∞–Ω—Å–∏–π, —Å–≤—è–∑–∞–Ω–Ω—ã—Ö —Å –¥–∞–Ω–Ω—ã–º–∏:**
   - 1771 –≤–∞–∫–∞–Ω—Å–∏—è —É–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞ –≤—ã—Å–æ–∫–∏–π —Å–ø—Ä–æ—Å –Ω–∞ —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ –≤ –æ–±–ª–∞—Å—Ç–∏ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö, —Ä–∞–±–æ—Ç—ã —Å –±–∞–∑–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö –∏ –¥—Ä—É–≥–∏—Ö —Å–º–µ–∂–Ω—ã—Ö –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–π.

2. **–†–æ–ª—å —Å–æ–≤—Ä–µ–º–µ–Ω–Ω—ã—Ö —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏–π:**
   - –†–∞–∑–≤–∏—Ç–∏–µ —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏–π, —Ç–∞–∫–∏—Ö –∫–∞–∫ Big Data, –º–∞—à–∏–Ω–Ω–æ–µ –æ–±—É—á–µ–Ω–∏–µ –∏ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ –¥–∞–Ω–Ω—ã—Ö, —Å–ø–æ—Å–æ–±—Å—Ç–≤—É–µ—Ç —Å–æ–∑–¥–∞–Ω–∏—é –º–Ω–æ–∂–µ—Å—Ç–≤–∞ —Ä–∞–±–æ—á–∏—Ö –º–µ—Å—Ç, —Å–≤—è–∑–∞–Ω–Ω—ã—Ö —Å –¥–∞–Ω–Ω—ã–º–∏.

3. **–†–∞–∑–Ω–æ–æ–±—Ä–∞–∑–∏–µ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–π:**
   - –í–∞–∫–∞–Ω—Å–∏–∏ —Å –∫–ª—é—á–µ–≤—ã–º–∏ —Å–ª–æ–≤–∞–º–∏ "data" –∏–ª–∏ "–¥–∞–Ω–Ω" –º–æ–≥—É—Ç –≤–∫–ª—é—á–∞—Ç—å –ø–æ–∑–∏—Ü–∏–∏ –æ—Ç –∏–Ω–∂–µ–Ω–µ—Ä–æ–≤ –¥–∞–Ω–Ω—ã—Ö –∏ –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤ –¥–æ —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ –ø–æ –º–∞—à–∏–Ω–Ω–æ–º—É –æ–±—É—á–µ–Ω–∏—é –∏ BI-—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤.

#### **3. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞**
1. **–ö–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏—è –≤–∞–∫–∞–Ω—Å–∏–π:**
   - –†–∞–∑–¥–µ–ª–∏—Ç—å –≤–∞–∫–∞–Ω—Å–∏–∏ –Ω–∞ –ø–æ–¥–∫–∞—Ç–µ–≥–æ—Ä–∏–∏ (–Ω–∞–ø—Ä–∏–º–µ—Ä, Data Analyst, Data Scientist, Data Engineer) –¥–ª—è –±–æ–ª–µ–µ –≥–ª—É–±–æ–∫–æ–≥–æ –ø–æ–Ω–∏–º–∞–Ω–∏—è —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è —Å–ø—Ä–æ—Å–∞.

2. **–†–µ–≥–∏–æ–Ω–∞–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑:**
   - –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å, –≤ –∫–∞–∫–∏—Ö —Ä–µ–≥–∏–æ–Ω–∞—Ö —Å–æ—Å—Ä–µ–¥–æ—Ç–æ—á–µ–Ω–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π, —Å–≤—è–∑–∞–Ω–Ω—ã—Ö —Å –¥–∞–Ω–Ω—ã–º–∏.

3. **–¢—Ä–µ–±–æ–≤–∞–Ω–∏—è –∫ –Ω–∞–≤—ã–∫–∞–º:**
   - –ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –∫–ª—é—á–µ–≤—ã–µ –Ω–∞–≤—ã–∫–∏, —É–∫–∞–∑–∞–Ω–Ω—ã–µ –≤ –≤–∞–∫–∞–Ω—Å–∏—è—Ö, —á—Ç–æ–±—ã –≤—ã—è–≤–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω–Ω—ã–µ —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏–∏ –∏ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç—ã.

4. **–î–∏–Ω–∞–º–∏–∫–∞ —Å–ø—Ä–æ—Å–∞:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç–∞–∫–∏—Ö –≤–∞–∫–∞–Ω—Å–∏–π –∑–∞ —Ä–∞–∑–Ω—ã–µ –ø–µ—Ä–∏–æ–¥—ã, —á—Ç–æ–±—ã –≤—ã—è–≤–∏—Ç—å —Ç–µ–Ω–¥–µ–Ω—Ü–∏–∏ —Ä–æ—Å—Ç–∞ –∏–ª–∏ —Å–Ω–∏–∂–µ–Ω–∏—è.

In [24]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ Data Science –∏ Machine Learning –Ω–∞ —É—Ä–æ–≤–Ω–µ Junior –∏–ª–∏ —Å—Ç–∞–∂–∏—Ä–æ–≤–∫–∏
query = """
    SELECT
        COUNT(name) AS vacancy_count -- –ü–æ–¥—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –ø–æ–¥—Ö–æ–¥—è—â–∏—Ö –≤–∞–∫–∞–Ω—Å–∏–π
    FROM public.vacancies
    WHERE
        (
            name ILIKE '%data scientist%' OR
            name ILIKE '%data science%' OR
            name ILIKE '%–∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å –¥–∞–Ω–Ω—ã—Ö%' OR
            (name ILIKE '%ML%' AND name NOT ILIKE '%HTML%') OR
            name ILIKE '%machine learning%' OR
            name ILIKE '%–º–∞—à–∏–Ω–Ω%–æ–±—É—á–µ–Ω%'
        )
        AND
        (
            name ILIKE '%junior%' OR
            experience ILIKE '%–ù–µ—Ç –æ–ø—ã—Ç–∞%' OR
            employment ILIKE '%–°—Ç–∞–∂–∏—Ä–æ–≤–∫–∞%'
        )
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\1433848581.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   vacancy_count
0             51

### üìä –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ Data Science –∏ Machine Learning –Ω–∞ —É—Ä–æ–≤–Ω–µ Junior –∏–ª–∏ —Å—Ç–∞–∂–∏—Ä–æ–≤–∫–∏

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç**
- –û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π: **51**.

#### **2. –í—ã–≤–æ–¥—ã**
1. **–ù–µ–±–æ–ª—å—à–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –¥–ª—è –Ω–∞—á–∏–Ω–∞—é—â–∏—Ö:**
   - –¢–æ–ª—å–∫–æ 51 –≤–∞–∫–∞–Ω—Å–∏—è –≤ –æ–±–ª–∞—Å—Ç–∏ Data Science –∏ Machine Learning –æ—Ä–∏–µ–Ω—Ç–∏—Ä–æ–≤–∞–Ω–∞ –Ω–∞ —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ –Ω–∞—á–∞–ª—å–Ω–æ–≥–æ —É—Ä–æ–≤–Ω—è –∏–ª–∏ —Å—Ç–∞–∂—ë—Ä–æ–≤. –≠—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å —Å–≤—è–∑–∞–Ω–æ —Å –≤—ã—Å–æ–∫–æ–π —Å–ª–æ–∂–Ω–æ—Å—Ç—å—é –∏ —Ç—Ä–µ–±–æ–≤–∞–Ω–∏—è–º–∏ –∫ —ç—Ç–æ–π —Å—Ñ–µ—Ä–µ.

2. **–¢—Ä–µ–±–æ–≤–∞–Ω–∏—è –∫ –æ–ø—ã—Ç—É:**
   - –†–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–∏ —á–∞—â–µ –∏—â—É—Ç –æ–ø—ã—Ç–Ω—ã—Ö —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤, —á—Ç–æ –æ–≥—Ä–∞–Ω–∏—á–∏–≤–∞–µ—Ç –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ –¥–ª—è –Ω–∞—á–∏–Ω–∞—é—â–∏—Ö Data Scientists –∏ ML-–∏–Ω–∂–µ–Ω–µ—Ä–æ–≤.

3. **–†–æ—Å—Ç –≤–∞–∂–Ω–æ—Å—Ç–∏ —Å—Ç–∞–∂–∏—Ä–æ–≤–æ–∫:**
   - –ù–∞–ª–∏—á–∏–µ –≤–∞–∫–∞–Ω—Å–∏–π —Å—Ç–∞–∂–∏—Ä–æ–≤–æ–∫ —É–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞ –≥–æ—Ç–æ–≤–Ω–æ—Å—Ç—å –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∫–æ–º–ø–∞–Ω–∏–π –∏–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞—Ç—å –≤ –æ–±—É—á–µ–Ω–∏–µ –º–æ–ª–æ–¥—ã—Ö —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤.

#### **3. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞**
1. **–ê–Ω–∞–ª–∏–∑ —Ä–µ–≥–∏–æ–Ω–∞–ª—å–Ω–æ–≥–æ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è:**
   - –ü—Ä–æ–≤–µ—Ä–∏—Ç—å, –≤ –∫–∞–∫–∏—Ö –≥–æ—Ä–æ–¥–∞—Ö –¥–æ—Å—Ç—É–ø–Ω—ã –≤–∞–∫–∞–Ω—Å–∏–∏ –Ω–∞—á–∞–ª—å–Ω–æ–≥–æ —É—Ä–æ–≤–Ω—è, —á—Ç–æ–±—ã –æ—Ü–µ–Ω–∏—Ç—å –≥–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–∏–π —Ñ–æ–∫—É—Å.

2. **–ö–ª—é—á–µ–≤—ã–µ –Ω–∞–≤—ã–∫–∏:**
   - –ò–∑—É—á–∏—Ç—å, –∫–∞–∫–∏–µ —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏–∏ –∏–ª–∏ –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç—ã —á–∞—â–µ –≤—Å–µ–≥–æ —É–∫–∞–∑–∞–Ω—ã –≤ —ç—Ç–∏—Ö –≤–∞–∫–∞–Ω—Å–∏—è—Ö, —á—Ç–æ–±—ã –ª—É—á—à–µ –ø–æ–Ω—è—Ç—å –æ–∂–∏–¥–∞–Ω–∏—è —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π.

3. **–î–∏–Ω–∞–º–∏–∫–∞ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–π:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å —Ç–µ–∫—É—â–∏–µ –¥–∞–Ω–Ω—ã–µ —Å –ø—Ä–µ–¥—ã–¥—É—â–∏–º–∏ –ø–µ—Ä–∏–æ–¥–∞–º–∏, —á—Ç–æ–±—ã –≤—ã—è–≤–∏—Ç—å —Ç–µ–Ω–¥–µ–Ω—Ü–∏–∏ –≤ —Å–æ–∑–¥–∞–Ω–∏–∏ –≤–∞–∫–∞–Ω—Å–∏–π –¥–ª—è Junior-—É—Ä–æ–≤–Ω—è.

4. **–°—Ä–∞–≤–Ω–µ–Ω–∏–µ —Å –±–æ–ª–µ–µ –æ–ø—ã—Ç–Ω—ã–º–∏ —É—Ä–æ–≤–Ω—è–º–∏:**
   - –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ –º–µ–∂–¥—É –≤–∞–∫–∞–Ω—Å–∏—è–º–∏ –¥–ª—è –Ω–∞—á–∏–Ω–∞—é—â–∏—Ö –∏ –æ–ø—ã—Ç–Ω—ã—Ö —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å —Å—Ç—Ä—É–∫—Ç—É—Ä—É —Å–ø—Ä–æ—Å–∞.

In [25]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ Data Science –∏ Machine Learning —Å –∫–ª—é—á–µ–≤—ã–º–∏ –Ω–∞–≤—ã–∫–∞–º–∏ SQL –∏–ª–∏ PostgreSQL
query = """
    SELECT
        COUNT(name) AS vacancy_count -- –ü–æ–¥—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –ø–æ–¥—Ö–æ–¥—è—â–∏—Ö –≤–∞–∫–∞–Ω—Å–∏–π
    FROM public.vacancies
    WHERE
        (
            name ILIKE '%data scientist%' OR
            name ILIKE '%data science%' OR
            name ILIKE '%–∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å –¥–∞–Ω–Ω—ã—Ö%' OR
            (name ILIKE '%ML%' AND name NOT ILIKE '%HTML%') OR
            name ILIKE '%machine learning%' OR
            name ILIKE '%–º–∞—à–∏–Ω–Ω%–æ–±—É—á–µ–Ω%'
        )
        AND
        (
            key_skills ILIKE '%SQL%' OR
            key_skills ILIKE '%postgres%'
        )
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\2488054245.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   vacancy_count
0            229

### üìä –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ Data Science –∏ Machine Learning —Å –∫–ª—é—á–µ–≤—ã–º–∏ –Ω–∞–≤—ã–∫–∞–º–∏ SQL –∏–ª–∏ PostgreSQL

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç**
- –û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π: **229**.

#### **2. –í—ã–≤–æ–¥—ã**
1. **–í—ã—Å–æ–∫–∏–π —Å–ø—Ä–æ—Å –Ω–∞ SQL –∏ PostgreSQL:**
   - 229 –≤–∞–∫–∞–Ω—Å–∏–π —Å —Ç—Ä–µ–±–æ–≤–∞–Ω–∏–µ–º –∑–Ω–∞–Ω–∏–π SQL –∏–ª–∏ PostgreSQL –ø–æ–¥—Ç–≤–µ—Ä–∂–¥–∞—é—Ç, —á—Ç–æ —ç—Ç–∏ –Ω–∞–≤—ã–∫–∏ —è–≤–ª—è—é—Ç—Å—è –≤–∞–∂–Ω–µ–π—à–∏–º–∏ –¥–ª—è —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ –≤ –æ–±–ª–∞—Å—Ç–∏ Data Science –∏ Machine Learning.

2. **–®–∏—Ä–æ–∫–æ–µ –ø—Ä–∏–º–µ–Ω–µ–Ω–∏–µ –±–∞–∑ –¥–∞–Ω–Ω—ã—Ö:**
   - –ó–Ω–∞–Ω–∏—è –≤ –æ–±–ª–∞—Å—Ç–∏ —Ä–∞–±–æ—Ç—ã —Å –±–∞–∑–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö, —Ç–∞–∫–∏–µ –∫–∞–∫ SQL –∏ PostgreSQL, –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã –¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏ –±–æ–ª—å—à–∏—Ö –æ–±—ä—ë–º–æ–≤ –¥–∞–Ω–Ω—ã—Ö, –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –º–æ–¥–µ–ª–µ–π –∏ —Ä–∞–±–æ—Ç—ã —Å –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–π.

3. **–ü–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç—å –Ω–∞–≤—ã–∫–æ–≤:**
   - SQL –æ—Å—Ç–∞—ë—Ç—Å—è —É–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω—ã–º –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–º, —Ç—Ä–µ–±—É–µ–º—ã–º –≤–æ –º–Ω–æ–≥–∏—Ö —Å—Ñ–µ—Ä–∞—Ö, –∞ PostgreSQL —á–∞—Å—Ç–æ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –ø—Ä–æ–¥–≤–∏–Ω—É—Ç–æ–π —Ä–∞–±–æ—Ç—ã —Å –±–∞–∑–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö, –≤–∫–ª—é—á–∞—è –æ–±—Ä–∞–±–æ—Ç–∫—É –±–æ–ª—å—à–∏—Ö –¥–∞–Ω–Ω—ã—Ö.

#### **3. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞**
1. **–ê–Ω–∞–ª–∏–∑ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º:**
   - –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å, –≤ –∫–∞–∫–∏—Ö –≥–æ—Ä–æ–¥–∞—Ö —Å–æ—Å—Ä–µ–¥–æ—Ç–æ—á–µ–Ω–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π —Å —ç—Ç–∏–º–∏ –Ω–∞–≤—ã–∫–∞–º–∏.

2. **–î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –Ω–∞–≤—ã–∫–∏:**
   - –ò–∑—É—á–∏—Ç—å, –∫–∞–∫–∏–µ –¥—Ä—É–≥–∏–µ –Ω–∞–≤—ã–∫–∏ —á–∞—â–µ –≤—Å–µ–≥–æ –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –≤ —ç—Ç–∏—Ö –≤–∞–∫–∞–Ω—Å–∏—è—Ö, —á—Ç–æ–±—ã —Å–æ—Å—Ç–∞–≤–∏—Ç—å –ø–æ–ª–Ω—ã–π –ø—Ä–æ—Ñ–∏–ª—å —Ç—Ä–µ–±–æ–≤–∞–Ω–∏–π —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π.

3. **–î–∏–Ω–∞–º–∏–∫–∞ —Å–ø—Ä–æ—Å–∞:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å —Ç–µ–∫—É—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç–∞–∫–∏—Ö –≤–∞–∫–∞–Ω—Å–∏–π —Å –¥–∞–Ω–Ω—ã–º–∏ –∑–∞ –ø—Ä–µ–¥—ã–¥—É—â–∏–µ –ø–µ—Ä–∏–æ–¥—ã –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ —Ä–æ—Å—Ç–∞ –∏–ª–∏ —Å–Ω–∏–∂–µ–Ω–∏—è —Å–ø—Ä–æ—Å–∞.

4. **–°—Ä–∞–≤–Ω–µ–Ω–∏–µ —Å –¥—Ä—É–≥–∏–º–∏ –Ω–∞–≤—ã–∫–∞–º–∏:**
   - –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å, –∫–∞–∫–∏–µ —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏–∏ (–Ω–∞–ø—Ä–∏–º–µ—Ä, Python, R) –∫–æ–Ω–∫—É—Ä–∏—Ä—É—é—Ç —Å SQL –∏ PostgreSQL –ø–æ –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω–Ω–æ—Å—Ç–∏ –≤ —Å—Ñ–µ—Ä–µ Data Science –∏ Machine Learning.

In [26]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ Data Science –∏ Machine Learning —Å –∫–ª—é—á–µ–≤—ã–º –Ω–∞–≤—ã–∫–æ–º Python
query = """
    SELECT
        COUNT(name) AS vacancy_count -- –ü–æ–¥—Å—á–µ—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –ø–æ–¥—Ö–æ–¥—è—â–∏—Ö –≤–∞–∫–∞–Ω—Å–∏–π
    FROM public.vacancies
    WHERE
        (
            name ILIKE '%data scientist%' OR
            name ILIKE '%data science%' OR
            name ILIKE '%–∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å –¥–∞–Ω–Ω—ã—Ö%' OR
            (name ILIKE '%ML%' AND name NOT ILIKE '%HTML%') OR
            name ILIKE '%machine learning%' OR
            name ILIKE '%–º–∞—à–∏–Ω–Ω%–æ–±—É—á–µ–Ω%'
        )
        AND
        key_skills ILIKE '%python%' -- –ü—Ä–æ–≤–µ—Ä—è–µ–º, —á—Ç–æ Python —É–∫–∞–∑–∞–Ω –≤ –∫–ª—é—á–µ–≤—ã—Ö –Ω–∞–≤—ã–∫–∞—Ö
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\2451947110.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   vacancy_count
0            357

### üìä –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ Data Science –∏ Machine Learning —Å –∫–ª—é—á–µ–≤—ã–º –Ω–∞–≤—ã–∫–æ–º Python

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç**
- –û–±—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π: **357**.

#### **2. –í—ã–≤–æ–¥—ã**
1. **Python –∫–∞–∫ –∫–ª—é—á–µ–≤–æ–π –Ω–∞–≤—ã–∫:**
   - Python —è–≤–ª—è–µ—Ç—Å—è –Ω–∞–∏–±–æ–ª–µ–µ –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω–Ω—ã–º –Ω–∞–≤—ã–∫–æ–º –≤ –æ–±–ª–∞—Å—Ç–∏ Data Science –∏ Machine Learning, —á—Ç–æ –ø–æ–¥—Ç–≤–µ—Ä–∂–¥–∞–µ—Ç—Å—è –≤—ã—Å–æ–∫–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –≤–∞–∫–∞–Ω—Å–∏–π (357).

2. **–ü—Ä–∏—á–∏–Ω—ã –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏ Python:**
   - –ï–≥–æ —É–Ω–∏–≤–µ—Ä—Å–∞–ª—å–Ω–æ—Å—Ç—å, –æ–≥—Ä–æ–º–Ω–∞—è —ç–∫–æ—Å–∏—Å—Ç–µ–º–∞ –±–∏–±–ª–∏–æ—Ç–µ–∫ (–Ω–∞–ø—Ä–∏–º–µ—Ä, NumPy, pandas, scikit-learn, TensorFlow, PyTorch) –∏ –∞–∫—Ç–∏–≤–Ω–æ–µ —Å–æ–æ–±—â–µ—Å—Ç–≤–æ –¥–µ–ª–∞—é—Ç Python —Å—Ç–∞–Ω–¥–∞—Ä—Ç–æ–º –¥–ª—è —Ä–∞–±–æ—Ç—ã —Å –¥–∞–Ω–Ω—ã–º–∏.

3. **–†–æ–ª—å Python –≤ –∏–Ω–¥—É—Å—Ç—Ä–∏–∏:**
   - Python –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –Ω–∞ –≤—Å–µ—Ö —ç—Ç–∞–ø–∞—Ö —Ä–∞–±–æ—Ç—ã —Å –¥–∞–Ω–Ω—ã–º–∏: –æ—Ç –∏—Ö –ø–æ–¥–≥–æ—Ç–æ–≤–∫–∏ –∏ –∞–Ω–∞–ª–∏–∑–∞ –¥–æ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –º–æ–¥–µ–ª–µ–π –º–∞—à–∏–Ω–Ω–æ–≥–æ –æ–±—É—á–µ–Ω–∏—è –∏ –∏—Ö —Ä–∞–∑–≤–µ—Ä—Ç—ã–≤–∞–Ω–∏—è.

#### **3. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞**
1. **–ê–Ω–∞–ª–∏–∑ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã—Ö –Ω–∞–≤—ã–∫–æ–≤:**
   - –ü—Ä–æ–≤–µ—Ä–∏—Ç—å, –∫–∞–∫–∏–µ –Ω–∞–≤—ã–∫–∏ —á–∞—â–µ –≤—Å–µ–≥–æ –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –≤–º–µ—Å—Ç–µ —Å Python (–Ω–∞–ø—Ä–∏–º–µ—Ä, SQL, Spark).

2. **–†–µ–≥–∏–æ–Ω–∞–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑:**
   - –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å, –≥–¥–µ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –≤–∞–∫–∞–Ω—Å–∏–π —Å —Ç—Ä–µ–±–æ–≤–∞–Ω–∏–µ–º Python, —á—Ç–æ–±—ã –≤—ã—è–≤–∏—Ç—å —Ä–µ–≥–∏–æ–Ω—ã —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º —Å–ø—Ä–æ—Å–æ–º.

3. **–î–∏–Ω–∞–º–∏–∫–∞ —Å–ø—Ä–æ—Å–∞:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å —Ç–µ–∫—É—â–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π —Å Python —Å –∏—Å—Ç–æ—Ä–∏—á–µ—Å–∫–∏–º–∏ –¥–∞–Ω–Ω—ã–º–∏, —á—Ç–æ–±—ã –≤—ã—è–≤–∏—Ç—å —Ç–µ–Ω–¥–µ–Ω—Ü–∏–∏ —Ä–æ—Å—Ç–∞.

4. **–°—Ä–∞–≤–Ω–µ–Ω–∏–µ —Å –¥—Ä—É–≥–∏–º–∏ —è–∑—ã–∫–∞–º–∏:**
   - –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω–Ω–æ—Å—Ç—å Python –≤ —Å—Ä–∞–≤–Ω–µ–Ω–∏–∏ —Å R, Java –∏–ª–∏ Scala –≤ –∞–Ω–∞–ª–æ–≥–∏—á–Ω—ã—Ö –≤–∞–∫–∞–Ω—Å–∏—è—Ö.

In [27]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ–¥—Å—á–µ—Ç–∞ —Å—Ä–µ–¥–Ω–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –∫–ª—é—á–µ–≤—ã—Ö –Ω–∞–≤—ã–∫–æ–≤ –≤ –≤–∞–∫–∞–Ω—Å–∏—è—Ö, —Å–≤—è–∑–∞–Ω–Ω—ã—Ö —Å Data Science –∏ Machine Learning
query = """
    SELECT
        ROUND(
            AVG(
                LENGTH(key_skills) - LENGTH(REPLACE(key_skills, CHR(9), '')) + 1
            ), 2
        ) AS avg_key_skills -- –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª—é—á–µ–≤—ã—Ö –Ω–∞–≤—ã–∫–æ–≤, –æ–∫—Ä—É–≥–ª–µ–Ω–Ω–æ–µ –¥–æ 2 –∑–Ω–∞–∫–æ–≤
    FROM public.vacancies
    WHERE
        (
            name ILIKE '%data scientist%' OR
            name ILIKE '%data science%' OR
            name ILIKE '%–∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å –¥–∞–Ω–Ω—ã—Ö%' OR
            (name LIKE '%ML%' AND name NOT ILIKE '%HTML%') OR
            name ILIKE '%machine learning%' OR
            name ILIKE '%–º–∞—à–∏–Ω–Ω%–æ–±—É—á–µ–Ω%'
        )
        AND key_skills IS NOT NULL -- –ò—Å–∫–ª—é—á–∞–µ–º –≤–∞–∫–∞–Ω—Å–∏–∏ –±–µ–∑ —É–∫–∞–∑–∞–Ω–Ω—ã—Ö –∫–ª—é—á–µ–≤—ã—Ö –Ω–∞–≤—ã–∫–æ–≤
        AND key_skills <> '';      -- –ò—Å–∫–ª—é—á–∞–µ–º –≤–∞–∫–∞–Ω—Å–∏–∏ —Å –ø—É—Å—Ç—ã–º–∏ –∫–ª—é—á–µ–≤—ã–º–∏ –Ω–∞–≤—ã–∫–∞–º–∏
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\3163624644.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   avg_key_skills
0            6.41

### üìä –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞: —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª—é—á–µ–≤—ã—Ö –Ω–∞–≤—ã–∫–æ–≤ –≤ –≤–∞–∫–∞–Ω—Å–∏—è—Ö, —Å–≤—è–∑–∞–Ω–Ω—ã—Ö —Å Data Science –∏ Machine Learning

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç**
- –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª—é—á–µ–≤—ã—Ö –Ω–∞–≤—ã–∫–æ–≤: **6.41**.

#### **2. –í—ã–≤–æ–¥—ã**
1. **–í—ã—Å–æ–∫–∏–µ —Ç—Ä–µ–±–æ–≤–∞–Ω–∏—è –∫ –Ω–∞–≤—ã–∫–∞–º:**
   - –í–∞–∫–∞–Ω—Å–∏–∏ –≤ —Å—Ñ–µ—Ä–µ Data Science –∏ Machine Learning —Ç—Ä–µ–±—É—é—Ç, –≤ —Å—Ä–µ–¥–Ω–µ–º, –±–æ–ª–µ–µ 6 –∫–ª—é—á–µ–≤—ã—Ö –Ω–∞–≤—ã–∫–æ–≤, —á—Ç–æ —É–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞ –≤—ã—Å–æ–∫—É—é –∫–≤–∞–ª–∏—Ñ–∏–∫–∞—Ü–∏—é, –æ–∂–∏–¥–∞–µ–º—É—é –æ—Ç –∫–∞–Ω–¥–∏–¥–∞—Ç–æ–≤.

2. **–®–∏—Ä–æ–∫–∏–π —Å–ø–µ–∫—Ç—Ä –∫–æ–º–ø–µ—Ç–µ–Ω—Ü–∏–π:**
   - –ö–æ–º–ø–∞–Ω–∏–∏ —Ç—Ä–µ–±—É—é—Ç –æ—Ç –∫–∞–Ω–¥–∏–¥–∞—Ç–æ–≤ –Ω–µ —Ç–æ–ª—å–∫–æ –≥–ª—É–±–æ–∫–∏—Ö —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–∏—Ö –∑–Ω–∞–Ω–∏–π (–Ω–∞–ø—Ä–∏–º–µ—Ä, Python, SQL, –º–∞—à–∏–Ω–Ω–æ–µ –æ–±—É—á–µ–Ω–∏–µ), –Ω–æ –∏ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã—Ö –Ω–∞–≤—ã–∫–æ–≤ (–Ω–∞–ø—Ä–∏–º–µ—Ä, soft skills, –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–æ–µ –º—ã—à–ª–µ–Ω–∏–µ).

3. **–û—Å–æ–±–µ–Ω–Ω–æ—Å—Ç–∏ –∏–Ω–¥—É—Å—Ç—Ä–∏–∏:**
   - Data Science –∏ Machine Learning –æ—Ö–≤–∞—Ç—ã–≤–∞—é—Ç –º–Ω–æ–∂–µ—Å—Ç–≤–æ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–π, —á—Ç–æ –æ–±—ä—è—Å–Ω—è–µ—Ç –≤—ã—Å–æ–∫–∏–π —Å—Ä–µ–¥–Ω–∏–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –Ω–∞–≤—ã–∫–æ–≤. –≠—Ç–æ –º–æ–∂–µ—Ç –≤–∫–ª—é—á–∞—Ç—å –Ω–∞–≤—ã–∫–∏ –ø—Ä–æ–≥—Ä–∞–º–º–∏—Ä–æ–≤–∞–Ω–∏—è, —Ä–∞–±–æ—Ç—ã —Å –±–∞–∑–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö, –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏ –¥–∞–Ω–Ω—ã—Ö –∏ –¥—Ä—É–≥–∏—Ö —Å–º–µ–∂–Ω—ã—Ö —Ç–µ—Ö–Ω–æ–ª–æ–≥–∏–π.

#### **3. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞**
1. **–ü–æ–ø—É–ª—è—Ä–Ω—ã–µ –Ω–∞–≤—ã–∫–∏:**
   - –ü—Ä–æ–≤–µ—Å—Ç–∏ –∞–Ω–∞–ª–∏–∑ –∫–ª—é—á–µ–≤—ã—Ö –Ω–∞–≤—ã–∫–æ–≤, —á—Ç–æ–±—ã –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω–Ω—ã–µ (–Ω–∞–ø—Ä–∏–º–µ—Ä, Python, SQL, Spark).

2. **–°—Ä–∞–≤–Ω–µ–Ω–∏–µ –ø–æ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª—é—á–µ–≤—ã—Ö –Ω–∞–≤—ã–∫–æ–≤ –¥–ª—è Data Science –∏ Machine Learning —Å –¥—Ä—É–≥–∏–º–∏ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏—è–º–∏ (–Ω–∞–ø—Ä–∏–º–µ—Ä, –º–∞—Ä–∫–µ—Ç–∏–Ω–≥, IT).

3. **–ê–Ω–∞–ª–∏–∑ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º:**
   - –ü—Ä–æ–≤–µ—Ä–∏—Ç—å, –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –ª–∏ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª—é—á–µ–≤—ã—Ö –Ω–∞–≤—ã–∫–æ–≤ –≤ –≤–∞–∫–∞–Ω—Å–∏—è—Ö –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º.

4. **–î–∏–Ω–∞–º–∏–∫–∞ —Ç—Ä–µ–±–æ–≤–∞–Ω–∏–π:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è –≤ –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ –∫–ª—é—á–µ–≤—ã—Ö –Ω–∞–≤—ã–∫–æ–≤ –∑–∞ –ø–æ—Å–ª–µ–¥–Ω–∏–µ –≥–æ–¥—ã, —á—Ç–æ–±—ã –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å —Ç–µ–Ω–¥–µ–Ω—Ü–∏–∏ —Ä–æ—Å—Ç–∞ –∏–ª–∏ —É–ø—Ä–æ—â–µ–Ω–∏—è —Ç—Ä–µ–±–æ–≤–∞–Ω–∏–π.

In [28]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è —Ä–∞—Å—á–µ—Ç–∞ —Å—Ä–µ–¥–Ω–µ–π –∑–∞—Ä–ø–ª–∞—Ç—ã –ø–æ –æ–ø—ã—Ç—É –¥–ª—è –≤–∞–∫–∞–Ω—Å–∏–π Data Science –∏ Machine Learning
query = """
    SELECT
        experience, -- –£—Ä–æ–≤–µ–Ω—å –æ–ø—ã—Ç–∞ (–Ω–∞–ø—Ä–∏–º–µ—Ä, "–ù–µ—Ç –æ–ø—ã—Ç–∞", "–û—Ç 1 –≥–æ–¥–∞")
        ROUND(AVG(
            CASE
                WHEN salary_from IS NOT NULL AND salary_to IS NOT NULL THEN (salary_from + salary_to) / 2
                ELSE COALESCE(salary_from, salary_to) -- –ò—Å–ø–æ–ª—å–∑—É–µ–º –ª–∏–±–æ salary_from, –ª–∏–±–æ salary_to
            END
        ), 2) AS avg_salary -- –°—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞, –æ–∫—Ä—É–≥–ª–µ–Ω–Ω–∞—è –¥–æ 2 –∑–Ω–∞–∫–æ–≤
    FROM public.vacancies
    WHERE
        (
            name ILIKE '%data scientist%' OR
            name ILIKE '%data science%' OR
            name ILIKE '%–∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å –¥–∞–Ω–Ω—ã—Ö%' OR
            (name LIKE '%ML%' AND name NOT ILIKE '%HTML%') OR
            name ILIKE '%machine learning%' OR
            name ILIKE '%–º–∞—à–∏–Ω–Ω%–æ–±—É—á–µ–Ω%'
        )
        AND (salary_from IS NOT NULL OR salary_to IS NOT NULL) -- –ò—Å–∫–ª—é—á–∞–µ–º –≤–∞–∫–∞–Ω—Å–∏–∏ –±–µ–∑ —É–∫–∞–∑–∞–Ω–Ω—ã—Ö –∑–∞—Ä–ø–ª–∞—Ç
    GROUP BY experience -- –ì—Ä—É–ø–ø–∏—Ä—É–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã –ø–æ –æ–ø—ã—Ç—É
    ORDER BY experience -- –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ —É—Ä–æ–≤–Ω—é –æ–ø—ã—Ç–∞
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\4264295142.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

           experience  avg_salary
0           –ù–µ—Ç –æ–ø—ã—Ç–∞    74642.86
1  –û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç   139674.75
2       –û—Ç 3 –¥–æ 6 –ª–µ—Ç   243114.67

### üìä –ê–Ω–∞–ª–∏–∑ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–∞: —Å—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ –¥–ª—è –≤–∞–∫–∞–Ω—Å–∏–π Data Science –∏ Machine Learning –ø–æ –æ–ø—ã—Ç—É

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç—ã**
- **–ù–µ—Ç –æ–ø—ã—Ç–∞**: —Å—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ ‚Äî **74,642.86 —Ä—É–±–ª–µ–π**.
- **–û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç**: —Å—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ ‚Äî **139,674.75 —Ä—É–±–ª–µ–π**.
- **–û—Ç 3 –¥–æ 6 –ª–µ—Ç**: —Å—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ ‚Äî **243,114.67 —Ä—É–±–ª–µ–π**.

#### **2. –í—ã–≤–æ–¥—ã**
1. **–ó–Ω–∞—á–∏—Ç–µ–ª—å–Ω—ã–π —Ä–æ—Å—Ç –∑–∞—Ä–ø–ª–∞—Ç—ã —Å –æ–ø—ã—Ç–æ–º:**
   - –°—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ —É–≤–µ–ª–∏—á–∏–≤–∞–µ—Ç—Å—è —Å —Ä–æ—Å—Ç–æ–º –æ–ø—ã—Ç–∞. –†–∞–∑–Ω–∏—Ü–∞ –º–µ–∂–¥—É —É—Ä–æ–≤–Ω–µ–º "–ù–µ—Ç –æ–ø—ã—Ç–∞" –∏ "–û—Ç 3 –¥–æ 6 –ª–µ—Ç" —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç –±–æ–ª–µ–µ **226%**, —á—Ç–æ –ø–æ–¥—á—ë—Ä–∫–∏–≤–∞–µ—Ç –≤—ã—Å–æ–∫—É—é —Ü–µ–Ω–Ω–æ—Å—Ç—å –æ–ø—ã—Ç–Ω—ã—Ö —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤.

2. **–ù–∞—á–∏–Ω–∞—é—â–∏–µ —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç—ã:**
   - –£—Ä–æ–≤–µ–Ω—å –∑–∞—Ä–ø–ª–∞—Ç –¥–ª—è —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ –±–µ–∑ –æ–ø—ã—Ç–∞ –¥–æ–≤–æ–ª—å–Ω–æ –∫–æ–Ω–∫—É—Ä–µ–Ω—Ç–Ω—ã–π (–≤ —Å—Ä–µ–¥–Ω–µ–º –æ–∫–æ–ª–æ 74,642 —Ä—É–±–ª–µ–π), —á—Ç–æ –¥–µ–ª–∞–µ—Ç Data Science –∏ Machine Learning –ø—Ä–∏–≤–ª–µ–∫–∞—Ç–µ–ª—å–Ω—ã–º–∏ –¥–ª—è –≤—Ö–æ–¥–∞.

3. **–û–ø—ã—Ç–Ω—ã–µ —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç—ã:**
   - –î–ª—è —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ —Å –æ–ø—ã—Ç–æ–º –æ—Ç 3 –¥–æ 6 –ª–µ—Ç —Å—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ –ø—Ä–µ–≤—ã—à–∞–µ—Ç 240,000 —Ä—É–±–ª–µ–π, —á—Ç–æ –ø–æ–¥—Ç–≤–µ—Ä–∂–¥–∞–µ—Ç –≤—ã—Å–æ–∫–∏–π —Å–ø—Ä–æ—Å –Ω–∞ –ø—Ä–æ—Ñ–µ—Å—Å–∏–æ–Ω–∞–ª–æ–≤ –≤ —ç—Ç–æ–π —Å—Ñ–µ—Ä–µ.

#### **3. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞**
1. **–†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º:**
   - –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å, –∫–∞–∫ —Å—Ä–µ–¥–Ω–∏–µ –∑–∞—Ä–ø–ª–∞—Ç—ã –ø–æ —É—Ä–æ–≤–Ω—è–º –æ–ø—ã—Ç–∞ —Ä–∞–∑–ª–∏—á–∞—é—Ç—Å—è –º–µ–∂–¥—É —Ä–µ–≥–∏–æ–Ω–∞–º–∏.

2. **–°—Ä–∞–≤–Ω–µ–Ω–∏–µ —Å –¥—Ä—É–≥–∏–º–∏ –ø—Ä–æ—Ñ–µ—Å—Å–∏—è–º–∏:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å –∑–∞—Ä–ø–ª–∞—Ç—ã Data Scientists —Å –¥—Ä—É–≥–∏–º–∏ IT-—Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–∞–º–∏ (–Ω–∞–ø—Ä–∏–º–µ—Ä, —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–∞–º–∏, –∞–Ω–∞–ª–∏—Ç–∏–∫–∞–º–∏).

3. **–î–∏–Ω–∞–º–∏–∫–∞ —Ä–æ—Å—Ç–∞:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å —Å—Ä–µ–¥–Ω–∏–µ –∑–∞—Ä–ø–ª–∞—Ç—ã –ø–æ —É—Ä–æ–≤–Ω—è–º –æ–ø—ã—Ç–∞ –∑–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ –ª–µ—Ç, —á—Ç–æ–±—ã –≤—ã—è–≤–∏—Ç—å —Ç—Ä–µ–Ω–¥—ã —É–≤–µ–ª–∏—á–µ–Ω–∏—è –æ–ø–ª–∞—Ç—ã —Ç—Ä—É–¥–∞.

4. **–ê–Ω–∞–ª–∏–∑ —Ç—Ä–µ–±–æ–≤–∞–Ω–∏–π:**
   - –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å, –∫–∞–∫–∏–µ –Ω–∞–≤—ã–∫–∏ –∏ –∫–≤–∞–ª–∏—Ñ–∏–∫–∞—Ü–∏–∏ —Ç—Ä–µ–±—É—é—Ç—Å—è –¥–ª—è –ø–µ—Ä–µ—Ö–æ–¥–∞ –Ω–∞ –±–æ–ª–µ–µ –≤—ã—Å–æ–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –æ–ø–ª–∞—Ç—ã.

---

In [31]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è —Ä–∞—Å—á–µ—Ç–∞ —Å—Ä–µ–¥–Ω–µ–π –∑–∞—Ä–ø–ª–∞—Ç—ã –ø–æ –æ–ø—ã—Ç—É –¥–ª—è –≤–∞–∫–∞–Ω—Å–∏–π Data Science –∏ Machine Learning
query = """
-- SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞ —Å—Ä–µ–¥–Ω–µ–≥–æ —É—Ä–æ–≤–Ω—è –∑–∞—Ä–ø–ª–∞—Ç Data Scientists –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º –∏ —É—Ä–æ–≤–Ω—è–º –æ–ø—ã—Ç–∞
SELECT
    a.name AS region, -- –ù–∞–∑–≤–∞–Ω–∏–µ —Ä–µ–≥–∏–æ–Ω–∞
    v.experience,     -- –£—Ä–æ–≤–µ–Ω—å –æ–ø—ã—Ç–∞
    ROUND(
        AVG(
            CASE
                WHEN salary_from IS NOT NULL AND salary_to IS NOT NULL THEN (salary_from + salary_to) / 2
                ELSE COALESCE(salary_from, salary_to) -- –ò—Å–ø–æ–ª—å–∑—É–µ–º –ª–∏–±–æ salary_from, –ª–∏–±–æ salary_to
            END
        ), 2
    ) AS avg_salary -- –°—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞, –æ–∫—Ä—É–≥–ª–µ–Ω–Ω–∞—è –¥–æ 2 –∑–Ω–∞–∫–æ–≤
FROM public.vacancies v
JOIN public.areas a
    ON v.area_id = a.id -- –°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –≤–∞–∫–∞–Ω—Å–∏–π —Å —Ä–µ–≥–∏–æ–Ω–∞–º–∏
WHERE 
    (salary_from IS NOT NULL OR salary_to IS NOT NULL) -- –£—á–∏—Ç—ã–≤–∞–µ–º —Ç–æ–ª—å–∫–æ –≤–∞–∫–∞–Ω—Å–∏–∏ —Å —É–∫–∞–∑–∞–Ω–Ω–æ–π –∑–∞—Ä–ø–ª–∞—Ç–æ–π
    AND a.name IN ('–ú–æ—Å–∫–≤–∞', '–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥', '–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫', '–ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥', '–ö–∞–∑–∞–Ω—å', 
                   '–ö—Ä–∞—Å–Ω–æ—è—Ä—Å–∫', '–ù–∏–∂–Ω–∏–π –ù–æ–≤–≥–æ—Ä–æ–¥', '–ß–µ–ª—è–±–∏–Ω—Å–∫', '–£—Ñ–∞', '–°–∞–º–∞—Ä–∞', 
                   '–†–æ—Å—Ç–æ–≤-–Ω–∞-–î–æ–Ω—É', '–ö—Ä–∞—Å–Ω–æ–¥–∞—Ä', '–û–º—Å–∫', '–í–æ—Ä–æ–Ω–µ–∂', '–ü–µ—Ä–º—å', '–í–æ–ª–≥–æ–≥—Ä–∞–¥') -- –û–≥—Ä–∞–Ω–∏—á–∏–≤–∞–µ–º –∞–Ω–∞–ª–∏–∑ —É–∫–∞–∑–∞–Ω–Ω—ã–º–∏ —Ä–µ–≥–∏–æ–Ω–∞–º–∏
    AND (
        v.name ILIKE '%data scientist%' OR
        v.name ILIKE '%data science%' OR
        v.name ILIKE '%–∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å –¥–∞–Ω–Ω—ã—Ö%' OR
        v.name ILIKE '%machine learning%' OR
        (v.name ILIKE '%ML%' AND v.name NOT ILIKE '%HTML%') OR
        v.name ILIKE '%–º–∞—à–∏–Ω–Ω%–æ–±—É—á–µ–Ω%'
    ) -- –£—á–∏—Ç—ã–≤–∞–µ–º —Ç–æ–ª—å–∫–æ –≤–∞–∫–∞–Ω—Å–∏–∏ –¥–ª—è Data Scientist
GROUP BY a.name, v.experience -- –ì—Ä—É–ø–ø–∏—Ä—É–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º –∏ —É—Ä–æ–≤–Ω—è–º –æ–ø—ã—Ç–∞
ORDER BY region, experience; -- –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ —Ä–µ–≥–∏–æ–Ω—É –∏ —É—Ä–æ–≤–Ω—é –æ–ø—ã—Ç–∞
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\329004127.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

             region          experience  avg_salary
0           –í–æ—Ä–æ–Ω–µ–∂         –ë–æ–ª–µ–µ 6 –ª–µ—Ç    90000.00
1      –ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥           –ù–µ—Ç –æ–ø—ã—Ç–∞    37000.00
2      –ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥  –û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç   167500.00
3            –ö–∞–∑–∞–Ω—å  –û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç    50000.00
4            –ö–∞–∑–∞–Ω—å       –û—Ç 3 –¥–æ 6 –ª–µ—Ç   217750.00
5            –ú–æ—Å–∫–≤–∞         –ë–æ–ª–µ–µ 6 –ª–µ—Ç   200000.00
6            –ú–æ—Å–∫–≤–∞           –ù–µ—Ç –æ–ø—ã—Ç–∞    72500.00
7            –ú–æ—Å–∫–≤–∞  –û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç   169178.57
8            –ú–æ—Å–∫–≤–∞       –û—Ç 3 –¥–æ 6 –ª–µ—Ç   274230.77
9       –ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫           –ù–µ—Ç –æ–ø—ã—Ç–∞    80000.00
10      –ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫       –û—Ç 3 –¥–æ 6 –ª–µ—Ç   209500.00
11            –ü–µ—Ä–º—å  –û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç    75000.00
12            –ü–µ—Ä–º—å       –û—Ç 3 –¥–æ 6 –ª–µ—Ç   200000.00
13   –†–æ—Å—Ç–æ–≤-–Ω–∞-–î–æ–Ω—É  –û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç    50000.00
14   –†–æ—Å—Ç–æ–≤-–Ω–∞-–î–æ–Ω—É       –û—Ç 3 –¥–æ 6 –ª–µ—Ç   337500.00
15  –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥           –ù–µ—Ç –æ–ø—ã—Ç–∞    87666.67
16  –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥  –û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç   190115.33
17  –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥       –û—Ç 3 –¥–æ 6 –ª–µ—Ç   271666.67
18              –£—Ñ–∞  –û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç    90000.00

### üìä –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ: –°—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ Data Scientists –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º –∏ —É—Ä–æ–≤–Ω—è–º –æ–ø—ã—Ç–∞

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç—ã**
- **–ú–æ—Å–∫–≤–∞**:
  - **–ù–µ—Ç –æ–ø—ã—Ç–∞**: 72,500 —Ä—É–±–ª–µ–π.
  - **–û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç**: 169,178.57 —Ä—É–±–ª–µ–π.
  - **–û—Ç 3 –¥–æ 6 –ª–µ—Ç**: 274,230.77 —Ä—É–±–ª–µ–π.
  - **–ë–æ–ª–µ–µ 6 –ª–µ—Ç**: 200,000 —Ä—É–±–ª–µ–π.

- **–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥**:
  - **–ù–µ—Ç –æ–ø—ã—Ç–∞**: 87,666.67 —Ä—É–±–ª–µ–π.
  - **–û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç**: 190,115.33 —Ä—É–±–ª–µ–π.
  - **–û—Ç 3 –¥–æ 6 –ª–µ—Ç**: 271,666.67 —Ä—É–±–ª–µ–π.

- **–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫**:
  - **–ù–µ—Ç –æ–ø—ã—Ç–∞**: 80,000 —Ä—É–±–ª–µ–π.
  - **–û—Ç 3 –¥–æ 6 –ª–µ—Ç**: 209,500 —Ä—É–±–ª–µ–π.

- **–ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥**:
  - **–ù–µ—Ç –æ–ø—ã—Ç–∞**: 37,000 —Ä—É–±–ª–µ–π.
  - **–û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç**: 167,500 —Ä—É–±–ª–µ–π.

- **–ö–∞–∑–∞–Ω—å**:
  - **–û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç**: 50,000 —Ä—É–±–ª–µ–π.
  - **–û—Ç 3 –¥–æ 6 –ª–µ—Ç**: 217,750 —Ä—É–±–ª–µ–π.

- **–†–æ—Å—Ç–æ–≤-–Ω–∞-–î–æ–Ω—É**:
  - **–û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç**: 50,000 —Ä—É–±–ª–µ–π.
  - **–û—Ç 3 –¥–æ 6 –ª–µ—Ç**: 337,500 —Ä—É–±–ª–µ–π (–∞–Ω–æ–º–∞–ª—å–Ω–æ –≤—ã—Å–æ–∫–∞—è).

- **–ü–µ—Ä–º—å**:
  - **–û—Ç 1 –≥–æ–¥–∞ –¥–æ 3 –ª–µ—Ç**: 75,000 —Ä—É–±–ª–µ–π.
  - **–û—Ç 3 –¥–æ 6 –ª–µ—Ç**: 200,000 —Ä—É–±–ª–µ–π.

#### **2. –í—ã–≤–æ–¥—ã**
1. **–ú–æ—Å–∫–≤–∞ –ª–∏–¥–∏—Ä—É–µ—Ç –ø–æ –∑–∞—Ä–ø–ª–∞—Ç–∞–º:**
   - –°—Ä–µ–¥–Ω–∏–µ –∑–∞—Ä–ø–ª–∞—Ç—ã –¥–ª—è –≤—Å–µ—Ö —É—Ä–æ–≤–Ω–µ–π –æ–ø—ã—Ç–∞ –≤ –ú–æ—Å–∫–≤–µ —Å–∞–º—ã–µ –≤—ã—Å–æ–∫–∏–µ. –ù–∞–ø—Ä–∏–º–µ—Ä, –∑–∞—Ä–ø–ª–∞—Ç–∞ –¥–ª—è —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ —Å –æ–ø—ã—Ç–æ–º –æ—Ç 3 –¥–æ 6 –ª–µ—Ç —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 274,230.77 —Ä—É–±–ª–µ–π, —á—Ç–æ –≤—ã—à–µ, —á–µ–º –≤ –¥—Ä—É–≥–∏—Ö —Ä–µ–≥–∏–æ–Ω–∞—Ö.

2. **–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥ –∏ –ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫:**
   - –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥ –±–ª–∏–∑–æ–∫ –∫ –ú–æ—Å–∫–≤–µ –ø–æ –∑–∞—Ä–ø–ª–∞—Ç–∞–º, –æ—Å–æ–±–µ–Ω–Ω–æ –¥–ª—è –æ–ø—ã—Ç–Ω—ã—Ö —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤.
   - –ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫ –≤—ã–¥–µ–ª—è–µ—Ç—Å—è –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ –≤—ã—Å–æ–∫–∏–º–∏ –∑–∞—Ä–ø–ª–∞—Ç–∞–º–∏ (209,500 —Ä—É–±–ª–µ–π) –¥–ª—è —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ —Å –æ–ø—ã—Ç–æ–º –æ—Ç 3 –¥–æ 6 –ª–µ—Ç.

3. **–ù–∏–∑–∫–∏–µ –∑–∞—Ä–ø–ª–∞—Ç—ã –≤ –ö–∞–∑–∞–Ω–∏ –∏ –ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥–µ:**
   - –í –ö–∞–∑–∞–Ω–∏ –∏ –ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥–µ –∑–∞—Ä–ø–ª–∞—Ç—ã –¥–ª—è —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ –±–µ–∑ –æ–ø—ã—Ç–∞ –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ –Ω–∏–∂–µ: 50,000 –∏ 37,000 —Ä—É–±–ª–µ–π —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ.

4. **–ê–Ω–æ–º–∞–ª–∏—è –≤ –†–æ—Å—Ç–æ–≤–µ-–Ω–∞-–î–æ–Ω—É:**
   - –ó–∞—Ä–ø–ª–∞—Ç–∞ –≤ –†–æ—Å—Ç–æ–≤–µ-–Ω–∞-–î–æ–Ω—É –¥–ª—è —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ —Å –æ–ø—ã—Ç–æ–º –æ—Ç 3 –¥–æ 6 –ª–µ—Ç —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç 337,500 —Ä—É–±–ª–µ–π, —á—Ç–æ –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ –≤—ã—à–µ —Å—Ä–µ–¥–Ω–µ–≥–æ. –¢—Ä–µ–±—É–µ—Ç—Å—è –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–π –∞–Ω–∞–ª–∏–∑.

#### **3. –¢–µ–Ω–¥–µ–Ω—Ü–∏–∏**
1. **–û–ø—ã—Ç –æ–ø—Ä–µ–¥–µ–ª—è–µ—Ç –∑–∞—Ä–ø–ª–∞—Ç—É:**
   - –ó–∞—Ä–ø–ª–∞—Ç—ã –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ —É–≤–µ–ª–∏—á–∏–≤–∞—é—Ç—Å—è —Å –æ–ø—ã—Ç–æ–º, –æ—Å–æ–±–µ–Ω–Ω–æ –≤ –ú–æ—Å–∫–≤–µ –∏ –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥–µ.
   
2. **–†–µ–≥–∏–æ–Ω–∞–ª—å–Ω—ã–µ —Ä–∞–∑–ª–∏—á–∏—è:**
   - –ó–∞—Ä–ø–ª–∞—Ç—ã –≤ —Ü–µ–Ω—Ç—Ä–∞–ª—å–Ω—ã—Ö —Ä–µ–≥–∏–æ–Ω–∞—Ö (–ú–æ—Å–∫–≤–∞, –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥) –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ –≤—ã—à–µ, —á–µ–º –≤ –æ—Å—Ç–∞–ª—å–Ω—ã—Ö.

3. **–í–∞–∂–Ω–æ—Å—Ç—å –∫—Ä—É–ø–Ω—ã—Ö —Ü–µ–Ω—Ç—Ä–æ–≤:**
   - –ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫ –∏ –ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥ –≤—ã–¥–µ–ª—è—é—Ç—Å—è —Å—Ä–µ–¥–∏ —Ä–µ–≥–∏–æ–Ω–∞–ª—å–Ω—ã—Ö —Ü–µ–Ω—Ç—Ä–æ–≤ –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ –≤—ã—Å–æ–∫–∏–º–∏ –∑–∞—Ä–ø–ª–∞—Ç–∞–º–∏ –¥–ª—è –æ–ø—ã—Ç–Ω—ã—Ö —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤.

#### **4. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∞–Ω–∞–ª–∏–∑–∞**
1. **–ê–Ω–∞–ª–∏–∑ –∞–Ω–æ–º–∞–ª–∏–π:**
   - –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å –ø—Ä–∏—á–∏–Ω—É –∞–Ω–æ–º–∞–ª—å–Ω–æ –≤—ã—Å–æ–∫–æ–π –∑–∞—Ä–ø–ª–∞—Ç—ã –≤ –†–æ—Å—Ç–æ–≤–µ-–Ω–∞-–î–æ–Ω—É –¥–ª—è —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ —Å –æ–ø—ã—Ç–æ–º –æ—Ç 3 –¥–æ 6 –ª–µ—Ç.

2. **–î–∏–Ω–∞–º–∏–∫–∞ –∑–∞—Ä–ø–ª–∞—Ç:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å —ç—Ç–∏ –¥–∞–Ω–Ω—ã–µ —Å –ø—Ä–µ–¥—ã–¥—É—â–∏–º–∏ –≥–æ–¥–∞–º–∏, —á—Ç–æ–±—ã –≤—ã—è–≤–∏—Ç—å —Ç–µ–Ω–¥–µ–Ω—Ü–∏–∏ —Ä–æ—Å—Ç–∞ –∑–∞—Ä–ø–ª–∞—Ç.

3. **–†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –≤–∞–∫–∞–Ω—Å–∏–π:**
   - –ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π –≤ –∫–∞–∂–¥–æ–º —Ä–µ–≥–∏–æ–Ω–µ, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å –≤–ª–∏—è–Ω–∏–µ –∫–æ–Ω–∫—É—Ä–µ–Ω—Ü–∏–∏ –Ω–∞ –∑–∞—Ä–ø–ª–∞—Ç—ã.

4. **–°—Ä–∞–≤–Ω–µ–Ω–∏–µ —Å –¥—Ä—É–≥–∏–º–∏ –ø—Ä–æ—Ñ–µ—Å—Å–∏—è–º–∏:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å –∑–∞—Ä–ø–ª–∞—Ç—ã Data Scientists —Å –∑–∞—Ä–ø–ª–∞—Ç–∞–º–∏ —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤ –∏ –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤ –≤ —Ç–µ—Ö –∂–µ —Ä–µ–≥–∏–æ–Ω–∞—Ö.

---

In [30]:
# SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è —Ä–∞—Å—á–µ—Ç–∞ —Å—Ä–µ–¥–Ω–µ–π –∑–∞—Ä–ø–ª–∞—Ç—ã –ø–æ –æ–ø—ã—Ç—É –¥–ª—è –≤–∞–∫–∞–Ω—Å–∏–π Data Science –∏ Machine Learning
query = """
-- SQL-–∑–∞–ø—Ä–æ—Å –¥–ª—è —Å—Ä–∞–≤–Ω–µ–Ω–∏—è —Å—Ä–µ–¥–Ω–∏—Ö –∑–∞—Ä–ø–ª–∞—Ç Data Scientists —Å –¥—Ä—É–≥–∏–º–∏ IT-—Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–∞–º–∏
SELECT
    CASE
        WHEN v.name ILIKE '%data scientist%' OR
             v.name ILIKE '%data science%' OR
             v.name ILIKE '%–∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å –¥–∞–Ω–Ω—ã—Ö%' OR
             v.name ILIKE '%machine learning%' OR
             (v.name ILIKE '%ML%' AND v.name NOT ILIKE '%HTML%') OR
             v.name ILIKE '%–º–∞—à–∏–Ω–Ω%–æ–±—É—á–µ–Ω%' THEN 'Data Scientist'
        WHEN v.name ILIKE '%—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫%' OR
             v.name ILIKE '%developer%' THEN '–†–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫'
        WHEN v.name ILIKE '%–∞–Ω–∞–ª–∏—Ç–∏–∫%' OR
             v.name ILIKE '%analyst%' THEN '–ê–Ω–∞–ª–∏—Ç–∏–∫'
        ELSE '–î—Ä—É–≥–∞—è IT-–ø—Ä–æ—Ñ–µ—Å—Å–∏—è'
    END AS profession, -- –ö–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏—è –ø—Ä–æ—Ñ–µ—Å—Å–∏–π
    ROUND(
        AVG(
            CASE
                WHEN salary_from IS NOT NULL AND salary_to IS NOT NULL THEN (salary_from + salary_to) / 2
                ELSE COALESCE(salary_from, salary_to) -- –ò—Å–ø–æ–ª—å–∑—É–µ–º –ª–∏–±–æ salary_from, –ª–∏–±–æ salary_to
            END
        ), 2
    ) AS avg_salary -- –°—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞, –æ–∫—Ä—É–≥–ª–µ–Ω–Ω–∞—è –¥–æ 2 –∑–Ω–∞–∫–æ–≤
FROM public.vacancies v
WHERE 
    (v.name ILIKE '%data scientist%' OR
     v.name ILIKE '%data science%' OR
     v.name ILIKE '%–∏—Å—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å –¥–∞–Ω–Ω—ã—Ö%' OR
     v.name ILIKE '%machine learning%' OR
     (v.name ILIKE '%ML%' AND v.name NOT ILIKE '%HTML%') OR
     v.name ILIKE '%–º–∞—à–∏–Ω–Ω%–æ–±—É—á–µ–Ω%' OR
     v.name ILIKE '%—Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫%' OR
     v.name ILIKE '%developer%' OR
     v.name ILIKE '%–∞–Ω–∞–ª–∏—Ç–∏–∫%' OR
     v.name ILIKE '%analyst%') -- –£—á–∏—Ç—ã–≤–∞–µ–º —Ç–æ–ª—å–∫–æ IT-–ø—Ä–æ—Ñ–µ—Å—Å–∏–∏
    AND (salary_from IS NOT NULL OR salary_to IS NOT NULL) -- –ò—Å–∫–ª—é—á–∞–µ–º –≤–∞–∫–∞–Ω—Å–∏–∏ –±–µ–∑ —É–∫–∞–∑–∞–Ω–Ω—ã—Ö –∑–∞—Ä–ø–ª–∞—Ç
GROUP BY profession -- –ì—Ä—É–ø–ø–∏—Ä—É–µ–º –ø–æ –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ –ø—Ä–æ—Ñ–µ—Å—Å–∏–π
ORDER BY avg_salary DESC; -- –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ —Å—Ä–µ–¥–Ω–µ–π –∑–∞—Ä–ø–ª–∞—Ç–µ –≤ —É–±—ã–≤–∞—é—â–µ–º –ø–æ—Ä—è–¥–∫–µ
"""

# –í—ã–ø–æ–ª–Ω—è–µ–º –∑–∞–ø—Ä–æ—Å –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç –≤ –≤–∏–¥–µ DataFrame
df = pd.read_sql_query(query, connection)

# –û—Ç–æ–±—Ä–∞–∂–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
display(df)

C:\Users\–ü–æ–ª—å–∑–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_13224\1004539028.py:44: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

       profession  avg_salary
0  Data Scientist   193860.61
1     –†–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫   140942.90
2        –ê–Ω–∞–ª–∏—Ç–∏–∫    90439.47

### üìä –í—ã–≤–æ–¥ –ø–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–º—É –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—é: —Å—Ä–∞–≤–Ω–µ–Ω–∏–µ —Å—Ä–µ–¥–Ω–∏—Ö –∑–∞—Ä–ø–ª–∞—Ç Data Scientists —Å –¥—Ä—É–≥–∏–º–∏ IT-—Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–∞–º–∏

#### **1. –†–µ–∑—É–ª—å—Ç–∞—Ç—ã**
- **Data Scientist**: —Å—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ ‚Äî **193,860.61 —Ä—É–±–ª–µ–π**.
- **–†–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫**: —Å—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ ‚Äî **140,942.90 —Ä—É–±–ª–µ–π**.
- **–ê–Ω–∞–ª–∏—Ç–∏–∫**: —Å—Ä–µ–¥–Ω—è—è –∑–∞—Ä–ø–ª–∞—Ç–∞ ‚Äî **90,439.47 —Ä—É–±–ª–µ–π**.

#### **2. –í—ã–≤–æ–¥—ã**
1. **Data Scientists –ª–∏–¥–∏—Ä—É—é—Ç –ø–æ —É—Ä–æ–≤–Ω—é –∑–∞—Ä–ø–ª–∞—Ç:**
   - Data Scientists –ø–æ–ª—É—á–∞—é—Ç –Ω–∞–∏–±–æ–ª—å—à—É—é —Å—Ä–µ–¥–Ω—é—é –∑–∞—Ä–ø–ª–∞—Ç—É —Å—Ä–µ–¥–∏ –≤—Å–µ—Ö –∞–Ω–∞–ª–∏–∑–∏—Ä—É–µ–º—ã—Ö IT-—Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤. –≠—Ç–æ —Å–≤—è–∑–∞–Ω–æ —Å –≤—ã—Å–æ–∫–æ–π —Å–ª–æ–∂–Ω–æ—Å—Ç—å—é —Ä–∞–±–æ—Ç—ã, –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç—å—é –≥–ª—É–±–æ–∫–∏—Ö –∑–Ω–∞–Ω–∏–π –≤ –æ–±–ª–∞—Å—Ç–∏ –º–∞—Ç–µ–º–∞—Ç–∏–∫–∏, –ø—Ä–æ–≥—Ä–∞–º–º–∏—Ä–æ–≤–∞–Ω–∏—è –∏ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö.

2. **–†–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–∏ –∑–∞–Ω–∏–º–∞—é—Ç –≤—Ç–æ—Ä–æ–µ –º–µ—Å—Ç–æ:**
   - –†–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–∏ –ø–æ–ª—É—á–∞—é—Ç –≤ —Å—Ä–µ–¥–Ω–µ–º –Ω–∞ 27% –º–µ–Ω—å—à–µ, —á–µ–º Data Scientists, –Ω–æ –∏—Ö –∑–∞—Ä–ø–ª–∞—Ç—ã –æ—Å—Ç–∞—é—Ç—Å—è –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –≤—ã—Å–æ–∫–∏–º–∏. –≠—Ç–æ –æ–±—ä—è—Å–Ω—è–µ—Ç—Å—è —Å—Ç–∞–±–∏–ª—å–Ω—ã–º —Å–ø—Ä–æ—Å–æ–º –Ω–∞ —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤ –≤ —à–∏—Ä–æ–∫–æ–º —Å–ø–µ–∫—Ç—Ä–µ –∏–Ω–¥—É—Å—Ç—Ä–∏–π.

3. **–ê–Ω–∞–ª–∏—Ç–∏–∫–∏ —Å —Å–∞–º—ã–º–∏ –Ω–∏–∑–∫–∏–º–∏ –∑–∞—Ä–ø–ª–∞—Ç–∞–º–∏:**
   - –ê–Ω–∞–ª–∏—Ç–∏–∫–∏ –¥–∞–Ω–Ω—ã—Ö –ø–æ–ª—É—á–∞—é—Ç –Ω–∞ 53% –º–µ–Ω—å—à–µ, —á–µ–º Data Scientists. –≠—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å —Å–≤—è–∑–∞–Ω–æ —Å –±–æ–ª–µ–µ –Ω–∏–∑–∫–∏–º–∏ —Ç—Ä–µ–±–æ–≤–∞–Ω–∏—è–º–∏ –∫ —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–∏–º –Ω–∞–≤—ã–∫–∞–º –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å Data Scientists –∏ —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–∞–º–∏.

#### **3. –¢–µ–Ω–¥–µ–Ω—Ü–∏–∏ –∏ –ø—Ä–æ–≥–Ω–æ–∑—ã**
1. **–†–æ—Å—Ç —Å–ø—Ä–æ—Å–∞ –Ω–∞ Data Scientists:**
   - –û–∂–∏–¥–∞–µ—Ç—Å—è, —á—Ç–æ –∑–∞—Ä–ø–ª–∞—Ç—ã Data Scientists –±—É–¥—É—Ç –ø—Ä–æ–¥–æ–ª–∂–∞—Ç—å —Ä–∞—Å—Ç–∏ –±–ª–∞–≥–æ–¥–∞—Ä—è —Ä–∞—Å—Ç—É—â–µ–º—É —Å–ø—Ä–æ—Å—É –Ω–∞ –∞–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö –∏ –º–∞—à–∏–Ω–Ω–æ–µ –æ–±—É—á–µ–Ω–∏–µ –≤ –±–∏–∑–Ω–µ—Å–µ.

2. **–ü–æ–∑–∏—Ü–∏—è —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤:**
   - –ù–µ—Å–º–æ—Ç—Ä—è –Ω–∞ –±–æ–ª–µ–µ –Ω–∏–∑–∫–∏–π —É—Ä–æ–≤–µ–Ω—å –∑–∞—Ä–ø–ª–∞—Ç –ø–æ —Å—Ä–∞–≤–Ω–µ–Ω–∏—é —Å Data Scientists, —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–∏ –æ—Å—Ç–∞—é—Ç—Å—è –æ–¥–Ω–æ–π –∏–∑ —Å–∞–º—ã—Ö –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω–Ω—ã—Ö –∫–∞—Ç–µ–≥–æ—Ä–∏–π —Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–æ–≤ –≤ IT.

3. **–í–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ –¥–ª—è –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤:**
   - –ê–Ω–∞–ª–∏—Ç–∏–∫–∏ –º–æ–≥—É—Ç —É–≤–µ–ª–∏—á–∏–≤–∞—Ç—å —Å–≤–æ—é —Å—Ç–æ–∏–º–æ—Å—Ç—å –Ω–∞ —Ä—ã–Ω–∫–µ, –µ—Å–ª–∏ –±—É–¥—É—Ç —Ä–∞–∑–≤–∏–≤–∞—Ç—å —Ç–µ—Ö–Ω–∏—á–µ—Å–∫–∏–µ –Ω–∞–≤—ã–∫–∏, —Ç–∞–∫–∏–µ –∫–∞–∫ Python, SQL, –∏ –ø–µ—Ä–µ—Ö–æ–¥–∏—Ç—å –≤ —Ä–æ–ª–∏, —Å–≤—è–∑–∞–Ω–Ω—ã–µ —Å Data Science.

#### **4. –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏**
1. **–†–∞–∑–≤–∏—Ç–∏–µ –∫–æ–º–ø–µ—Ç–µ–Ω—Ü–∏–π:**
   - –°–ø–µ—Ü–∏–∞–ª–∏—Å—Ç–∞–º, —Å—Ç—Ä–µ–º—è—â–∏–º—Å—è —É–≤–µ–ª–∏—á–∏—Ç—å —Å–≤–æ–π –¥–æ—Ö–æ–¥, —Å–ª–µ–¥—É–µ—Ç —Ä–∞–∑–≤–∏–≤–∞—Ç—å –Ω–∞–≤—ã–∫–∏, –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω–Ω—ã–µ –≤ Data Science –∏ —Ä–∞–∑—Ä–∞–±–æ—Ç–∫–µ, —Ç–∞–∫–∏–µ –∫–∞–∫ Python, –º–∞—à–∏–Ω–Ω–æ–µ –æ–±—É—á–µ–Ω–∏–µ –∏ —Ä–∞–±–æ—Ç–∞ —Å –±–æ–ª—å—à–∏–º–∏ –¥–∞–Ω–Ω—ã–º–∏.

2. **–ê–Ω–∞–ª–∏–∑ –ø–æ —Ä–µ–≥–∏–æ–Ω–∞–º:**
   - –ü—Ä–æ–≤–µ—Å—Ç–∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ, –∫–∞–∫ –∑–∞—Ä–ø–ª–∞—Ç—ã Data Scientists, —Ä–∞–∑—Ä–∞–±–æ—Ç—á–∏–∫–æ–≤ –∏ –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–≤ –≤–∞—Ä—å–∏—Ä—É—é—Ç—Å—è –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç —Ä–µ–≥–∏–æ–Ω–∞, —á—Ç–æ–±—ã –≤—ã—è–≤–∏—Ç—å –≥–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–∏–µ —Ç—Ä–µ–Ω–¥—ã.

3. **–î–∏–Ω–∞–º–∏–∫–∞ –∏–∑–º–µ–Ω–µ–Ω–∏–π:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å —ç—Ç–∏ –¥–∞–Ω–Ω—ã–µ —Å –∏—Å—Ç–æ—Ä–∏—á–µ—Å–∫–∏–º–∏, —á—Ç–æ–±—ã –≤—ã—è–≤–∏—Ç—å —Ä–æ—Å—Ç –∏–ª–∏ –ø–∞–¥–µ–Ω–∏–µ –∑–∞—Ä–ø–ª–∞—Ç –≤ –∫–∞–∂–¥–æ–π –∫–∞—Ç–µ–≥–æ—Ä–∏–∏.

---

### üìù –û–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –≤—Å–µ–º –≤–∞–∫–∞–Ω—Å–∏—è–º, –∏–º–µ—é—â–∏–º—Å—è –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö

#### **1. –†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –≤–∞–∫–∞–Ω—Å–∏–π**
- **–ù–∞–∏–±–æ–ª–µ–µ –ø–æ–ø—É–ª—è—Ä–Ω—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏:**
  - Data Science –∏ Machine Learning –ø–æ–∫–∞–∑—ã–≤–∞—é—Ç —Å—Ç–∞–±–∏–ª—å–Ω—ã–π —Ä–æ—Å—Ç, –Ω–æ –∏—Ö –¥–æ–ª—è –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ –æ–±—â–µ–π –±–∞–∑—ã –æ—Å—Ç–∞—ë—Ç—Å—è –Ω–µ–±–æ–ª—å—à–æ–π.
  - –û—Å–Ω–æ–≤–Ω–∞—è —á–∞—Å—Ç—å –≤–∞–∫–∞–Ω—Å–∏–π –ø—Ä–∏—Ö–æ–¥–∏—Ç—Å—è –Ω–∞ IT-—Å–µ–∫—Ç–æ—Ä, –ø—Ä–æ–¥–∞–∂–∏ –∏ —É–ø—Ä–∞–≤–ª–µ–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞–º–∏.
  - –£–¥–∞–ª—ë–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞ –∑–∞–Ω–∏–º–∞–µ—Ç –≤—Ç–æ—Ä—É—é –ø–æ–∑–∏—Ü–∏—é –ø–æ—Å–ª–µ —Ç—Ä–∞–¥–∏—Ü–∏–æ–Ω–Ω–æ–≥–æ –≥—Ä–∞—Ñ–∏–∫–∞ "–ü–æ–ª–Ω—ã–π –¥–µ–Ω—å", —á—Ç–æ –æ—Ç—Ä–∞–∂–∞–µ—Ç —Ç—Ä–µ–Ω–¥—ã –≥–∏–±–∫–∏—Ö —Ñ–æ—Ä–º–∞—Ç–æ–≤ —Ç—Ä—É–¥–∞.

- **–¢—Ä–µ–Ω–¥—ã –≤ —Å–ø–µ—Ü–∏–∞–ª–∏–∑–∞—Ü–∏—è—Ö:**
  - –í–∞–∫–∞–Ω—Å–∏–∏, —Å–≤—è–∑–∞–Ω–Ω—ã–µ —Å "–¥–∞–Ω–Ω—ã–º–∏" (–Ω–∞–ø—Ä–∏–º–µ—Ä, Data Analyst, BI-—Å–ø–µ—Ü–∏–∞–ª–∏—Å—Ç—ã), –∑–∞–Ω–∏–º–∞—é—Ç –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω—É—é –¥–æ–ª—é.
  - SQL, Python –∏ PostgreSQL —è–≤–ª—è—é—Ç—Å—è –∫–ª—é—á–µ–≤—ã–º–∏ –Ω–∞–≤—ã–∫–∞–º–∏ –≤ –∞–Ω–∞–ª–∏–∑–∏—Ä—É–µ–º—ã—Ö –≤–∞–∫–∞–Ω—Å–∏—è—Ö.

#### **2. –†—ã–Ω–æ–∫ —Ç—Ä—É–¥–∞ –≤ —Ä–∞–∑–ª–∏—á–Ω—ã—Ö –≥–æ—Ä–æ–¥–∞—Ö**
- **–¶–µ–Ω—Ç—Ä–∞–ª–∏–∑–∞—Ü–∏—è –≤ –∫—Ä—É–ø–Ω—ã—Ö –≥–æ—Ä–æ–¥–∞—Ö:**
  - **–ú–æ—Å–∫–≤–∞** –∏ **–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥** –ª–∏–¥–∏—Ä—É—é—Ç –ø–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –≤–∞–∫–∞–Ω—Å–∏–π, —á—Ç–æ –æ–∂–∏–¥–∞–µ–º–æ –¥–ª—è —ç–∫–æ–Ω–æ–º–∏—á–µ—Å–∫–∏—Ö —Ü–µ–Ω—Ç—Ä–æ–≤ —Å—Ç—Ä–∞–Ω—ã.
  - –¢–∞–∫–∏–µ –≥–æ—Ä–æ–¥–∞, –∫–∞–∫ **–ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥**, **–ù–æ–≤–æ—Å–∏–±–∏—Ä—Å–∫** –∏ **–ù–∏–∂–Ω–∏–π –ù–æ–≤–≥–æ—Ä–æ–¥**, –∑–∞–Ω–∏–º–∞—é—Ç –ª–∏–¥–∏—Ä—É—é—â–∏–µ –ø–æ–∑–∏—Ü–∏–∏ —Å—Ä–µ–¥–∏ —Ä–µ–≥–∏–æ–Ω–æ–≤.

- **–°–∏—Ç—É–∞—Ü–∏—è –≤ —Ä–µ–≥–∏–æ–Ω–∞—Ö:**
  - –í —Ä—è–¥–µ –≥–æ—Ä–æ–¥–æ–≤-–º–∏–ª–ª–∏–æ–Ω–Ω–∏–∫–æ–≤ (–û–º—Å–∫, –ß–µ–ª—è–±–∏–Ω—Å–∫, –í–æ–ª–≥–æ–≥—Ä–∞–¥) –Ω–∞–±–ª—é–¥–∞–µ—Ç—Å—è —É–º–µ—Ä–µ–Ω–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–∞–∫–∞–Ω—Å–∏–π. –≠—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å —Å–≤—è–∑–∞–Ω–æ —Å –º–µ–Ω—å—à–µ–π –∫–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏–µ–π –∫–æ–º–ø–∞–Ω–∏–π –∏–ª–∏ –Ω–µ–¥–æ—Å—Ç–∞—Ç–æ—á–Ω—ã–º —Ä–∞–∑–≤–∏—Ç–∏–µ–º –∏–Ω—Ñ—Ä–∞—Å—Ç—Ä—É–∫—Ç—É—Ä—ã.

#### **3. –¢–µ–Ω–¥–µ–Ω—Ü–∏–∏ —Ä—ã–Ω–∫–∞ —Ç—Ä—É–¥–∞**
- **–£–¥–∞–ª—ë–Ω–Ω–∞—è —Ä–∞–±–æ—Ç–∞:**
  - –¢–µ–Ω–¥–µ–Ω—Ü–∏—è –Ω–∞ —É–¥–∞–ª—ë–Ω–Ω—É—é —Ä–∞–±–æ—Ç—É —Å–æ—Ö—Ä–∞–Ω—è–µ—Ç—Å—è, –Ω–æ –µ—ë –¥–æ–ª—è –æ—Å—Ç–∞—ë—Ç—Å—è –Ω–∏–∂–µ —Ç—Ä–∞–¥–∏—Ü–∏–æ–Ω–Ω–æ–≥–æ —Ñ–æ—Ä–º–∞—Ç–∞.
  - IT –∏ Data Science –ª–∏–¥–∏—Ä—É—é—Ç –ø–æ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏—é —É–¥–∞–ª—ë–Ω–Ω—ã—Ö –≤–∞–∫–∞–Ω—Å–∏–π.

- **–í–ª–∏—è–Ω–∏–µ –æ–ø—ã—Ç–∞:**
  - –ó–∞—Ä–ø–ª–∞—Ç–∞ –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ —Ä–∞—Å—Ç—ë—Ç —Å –æ–ø—ã—Ç–æ–º —Ä–∞–±–æ—Ç—ã. –ù–∞–ø—Ä–∏–º–µ—Ä, –¥–ª—è Data Science —Ä–∞–∑–Ω–∏—Ü–∞ –º–µ–∂–¥—É –∑–∞—Ä–ø–ª–∞—Ç–æ–π —É—Ä–æ–≤–Ω—è "–ù–µ—Ç –æ–ø—ã—Ç–∞" –∏ "–û—Ç 3 –¥–æ 6 –ª–µ—Ç" –ø—Ä–µ–≤—ã—à–∞–µ—Ç 200%.
  - –í–∞–∫–∞–Ω—Å–∏–∏ –¥–ª—è –Ω–∞—á–∏–Ω–∞—é—â–∏—Ö —á–∞—â–µ –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –≤ –∫–∞—Ç–µ–≥–æ—Ä–∏—è—Ö —Å –Ω–∏–∑–∫–∏–º –ø–æ—Ä–æ–≥–æ–º –≤—Ö–æ–¥–∞, —Ç–∞–∫–∏—Ö –∫–∞–∫ –ø—Ä–æ–¥–∞–∂–∏ –∏–ª–∏ –±–∞–∑–æ–≤—ã–µ IT-—Å–ø–µ—Ü–∏–∞–ª–∏–∑–∞—Ü–∏–∏.

- **–ú—É–ª—å—Ç–∏–∏–Ω–¥—É—Å—Ç—Ä–∏–∞–ª—å–Ω—ã–µ –∫–æ–º–ø–∞–Ω–∏–∏:**
  - –ö–æ–º–ø–∞–Ω–∏–∏, —Ä–∞–±–æ—Ç–∞—é—â–∏–µ —Å—Ä–∞–∑—É –≤ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö –∏–Ω–¥—É—Å—Ç—Ä–∏—è—Ö, —Ä–∞—Å—Ç—É—Ç –≤ –∫–æ–ª–∏—á–µ—Å—Ç–≤–µ, —á—Ç–æ –≥–æ–≤–æ—Ä–∏—Ç –æ –¥–∏–≤–µ—Ä—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ –±–∏–∑–Ω–µ—Å–∞.

#### **4. –í–æ–∑–º–æ–∂–Ω—ã–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è**
1. **–î–∏–Ω–∞–º–∏–∫–∞ –≤–∞–∫–∞–Ω—Å–∏–π:**
   - –ü—Ä–æ–≤–µ—Å—Ç–∏ –∞–Ω–∞–ª–∏–∑ –∏–∑–º–µ–Ω–µ–Ω–∏—è –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π –ø–æ –≥–æ–¥–∞–º, —á—Ç–æ–±—ã –≤—ã—è–≤–∏—Ç—å —Ç—Ä–µ–Ω–¥—ã —Ä–æ—Å—Ç–∞ –∏–ª–∏ –ø–∞–¥–µ–Ω–∏—è –≤ —Ä–∞–∑–Ω—ã—Ö –æ—Ç—Ä–∞—Å–ª—è—Ö.
   
2. **–†–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∑–∞—Ä–ø–ª–∞—Ç:**
   - –ü–æ—Å—Ç—Ä–æ–∏—Ç—å —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∑–∞—Ä–ø–ª–∞—Ç –ø–æ –≥–æ—Ä–æ–¥–∞–º –∏ –∫–∞—Ç–µ–≥–æ—Ä–∏—è–º, —á—Ç–æ–±—ã –æ—Ü–µ–Ω–∏—Ç—å —Ä–∞–∑—Ä—ã–≤ –º–µ–∂–¥—É —Ä–µ–≥–∏–æ–Ω–∞–º–∏ –∏ —Å—Ç–æ–ª–∏—Ü–∞–º–∏.

3. **–ê–Ω–∞–ª–∏–∑ –∫–ª—é—á–µ–≤—ã—Ö –Ω–∞–≤—ã–∫–æ–≤:**
   - –ò—Å—Å–ª–µ–¥–æ–≤–∞—Ç—å –∫–æ—Ä—Ä–µ–ª—è—Ü–∏—é –º–µ–∂–¥—É —Ç—Ä–µ–±–æ–≤–∞–Ω–∏—è–º–∏ –∫ –Ω–∞–≤—ã–∫–∞–º –∏ —É—Ä–æ–≤–Ω–µ–º –∑–∞—Ä–ø–ª–∞—Ç, —á—Ç–æ–±—ã –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å, –∫–∞–∫–∏–µ –Ω–∞–≤—ã–∫–∏ –Ω–∞–∏–±–æ–ª–µ–µ –≤—ã–≥–æ–¥–Ω—ã.

4. **–°—Ä–∞–≤–Ω–µ–Ω–∏–µ –æ—Ç—Ä–∞—Å–ª–µ–π:**
   - –°—Ä–∞–≤–Ω–∏—Ç—å –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω–Ω–æ—Å—Ç—å IT, –ø—Ä–æ–¥–∞–∂, –º–µ–¥–∏—Ü–∏–Ω—ã –∏ –¥—Ä—É–≥–∏—Ö –æ—Ç—Ä–∞—Å–ª–µ–π, —á—Ç–æ–±—ã –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å –ª–∏–¥–µ—Ä–æ–≤ –∏ –∞—É—Ç—Å–∞–π–¥–µ—Ä–æ–≤ —Ä—ã–Ω–∫–∞ —Ç—Ä—É–¥–∞.

#### **5. –û–±—â–∏–µ –≤—ã–≤–æ–¥—ã**
- **–ö–æ–Ω—Ü–µ–Ω—Ç—Ä–∞—Ü–∏—è –≤–∞–∫–∞–Ω—Å–∏–π:**
  - –û—Å–Ω–æ–≤–Ω–æ–π —Å–ø—Ä–æ—Å —Å–æ—Å—Ä–µ–¥–æ—Ç–æ—á–µ–Ω –≤ IT-—Å–µ–∫—Ç–æ—Ä–µ, –Ω–æ –µ—Å—Ç—å –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–∞—è –¥–æ–ª—è –≤–∞–∫–∞–Ω—Å–∏–π –≤ –ø—Ä–æ–¥–∞–∂–∞—Ö –∏ —É–ø—Ä–∞–≤–ª–µ–Ω–∏–∏ –ø—Ä–æ–µ–∫—Ç–∞–º–∏.
  - –ú–æ—Å–∫–≤–∞ –∏ –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥ –æ—Å—Ç–∞—é—Ç—Å—è –ª–∏–¥–µ—Ä–∞–º–∏ –ø–æ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏—é –≤–∞–∫–∞–Ω—Å–∏–π, –æ–¥–Ω–∞–∫–æ —Ä–µ–≥–∏–æ–Ω—ã –ø–æ—Å—Ç–µ–ø–µ–Ω–Ω–æ —Ä–∞–∑–≤–∏–≤–∞—é—Ç—Å—è.

- **–¢—Ä–µ–±–æ–≤–∞–Ω–∏—è –∫ –∫–≤–∞–ª–∏—Ñ–∏–∫–∞—Ü–∏–∏:**
  - –ù–∞–≤—ã–∫–∏ SQL, Python –∏ PostgreSQL –≤–æ—Å—Ç—Ä–µ–±–æ–≤–∞–Ω—ã –Ω–µ —Ç–æ–ª—å–∫–æ –≤ Data Science, –Ω–æ –∏ –≤ –¥—Ä—É–≥–∏—Ö —Å–º–µ–∂–Ω—ã—Ö –∫–∞—Ç–µ–≥–æ—Ä–∏—è—Ö.
  - –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–ª—é—á–µ–≤—ã—Ö –Ω–∞–≤—ã–∫–æ–≤, —É–∫–∞–∑–∞–Ω–Ω—ã—Ö –≤ –≤–∞–∫–∞–Ω—Å–∏—è—Ö, —É–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞ –≤—ã—Å–æ–∫–∏–µ —Ç—Ä–µ–±–æ–≤–∞–Ω–∏—è —Ä–∞–±–æ—Ç–æ–¥–∞—Ç–µ–ª–µ–π.

- **–¢–µ–Ω–¥–µ–Ω—Ü–∏–∏ –±—É–¥—É—â–µ–≥–æ:**
  - –£–≤–µ–ª–∏—á–µ–Ω–∏–µ –¥–æ–ª–∏ —É–¥–∞–ª—ë–Ω–Ω–æ–π —Ä–∞–±–æ—Ç—ã, —Ä–æ—Å—Ç –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –≤–∞–∫–∞–Ω—Å–∏–π –≤ IT –∏ Data Science, —Ä–∞–∑–≤–∏—Ç–∏–µ —Ä–µ–≥–∏–æ–Ω–∞–ª—å–Ω—ã—Ö —Ä—ã–Ω–∫–æ–≤ —Ç—Ä—É–¥–∞.

---